Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

add user course-overview to user-management, closes #1489
  app/controllers/admin/user.php
  app/views/admin/cronjobs/logs/index.php
  app/views/admin/user/_results.php
  app/views/admin/user/show_user_courses.php
Due: none

fix for BIESt #1099
  app/controllers/calendar/calendar.php
  app/controllers/calendar/single.php
  app/views/calendar/single/_calhead_label_day.php
  app/views/calendar/single/_day_cell.php
  app/views/calendar/single/_include_month.php
  app/views/calendar/single/day.php
  app/views/calendar/single/month.php
  app/views/calendar/single/week.php
  app/views/calendar/single/year.php
  lib/classes/calendar/SingleCalendar.php
  lib/models/CalendarEvent.class.php
Due: test-unit, test-functional, test-jsonapi

CourseDateFolder: added topic titles to folder name, closes TIC #1393
  lib/filesystem/CourseDateFolder.php
Due: test-unit, test-functional, test-jsonapi

use current+next semester as default for globalsearch, fixes #1348
  app/controllers/search/globalsearch.php
  lib/classes/globalsearch/GlobalSearchModule.php
Due: test-unit, test-functional, test-jsonapi

Remove build artifact public/assets/translations/de.js, fixes #1508
  public/assets/translations/de.js
Due: none

migrate less to scss, closes #1529
  resources/assets/stylesheets/less/autocomplete.less
  resources/assets/stylesheets/less/news.less
  resources/assets/stylesheets/scss/badges.scss
  resources/assets/stylesheets/scss/comments.scss
  resources/assets/stylesheets/scss/enrolment.scss
  resources/assets/stylesheets/scss/feedback.scss
  resources/assets/stylesheets/scss/index.scss
  resources/assets/stylesheets/scss/overlapping.scss
  resources/assets/stylesheets/scss/search.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

resources/room_request/resolve: fixed preparation time inconsitencies, closes #859
  app/views/resources/room_request/resolve.php
Due: none

Revert wromng commits aad38b537 e7f0e311e 0d99c65b4 c8bcec4bb e8d608700 b70bc19f8 5797405d3 to main re #1327"
  app/controllers/admin/courses.php
  app/controllers/course/room_requests.php
  app/controllers/course/timesrooms.php
  app/views/course/room_requests/_new_request_form_footer.php
  app/views/course/room_requests/_new_request_form_header.php
  app/views/course/room_requests/_new_request_header.php
  app/views/course/room_requests/_room_with_properties.php
  app/views/course/room_requests/find_by_category.php
  app/views/course/room_requests/find_by_roomname.php
  app/views/course/room_requests/new_request.php
  app/views/course/room_requests/request_select_room.php
  app/views/course/timesrooms/_roomRequest.php
  lib/modules/CoreAdmin.class.php
Due: test-unit, test-functional, test-jsonapi

set start_semester before store(), fixes #1507
  lib/classes/coursewizardsteps/BasicDataWizardStep.php
Due: test-unit, test-functional, test-jsonapi

allow url parameters when no action is given, fixes #1538
  app/controllers/studip_controller.php
  tests/unit/lib/classes/StudipControllerTest.php
Due: test-unit, test-functional, test-jsonapi

fix #1520
  resources/assets/javascripts/chunks/wysiwyg.js
Due: lint-js

fixes #1380 #1533
  resources/assets/stylesheets/less/helpbar.less
Due: lint-css

transfer fixes from #368 to my_studygroups, fixes #1541
  app/controllers/institute/overview.php
  app/views/my_studygroups/_course.php
Due: none

migrate less to scss, closes #1543
  resources/assets/stylesheets/less/inline-editing.less
  resources/assets/stylesheets/mixins/misc.scss
  resources/assets/stylesheets/mixins/studip.scss
  resources/assets/stylesheets/scss/activityfeed.scss
  resources/assets/stylesheets/scss/big-image-handler.scss
  resources/assets/stylesheets/scss/consultation.scss
  resources/assets/stylesheets/scss/content.scss
  resources/assets/stylesheets/scss/coursewizard.scss
  resources/assets/stylesheets/scss/dashboard.scss
  resources/assets/stylesheets/scss/dialog.scss
  resources/assets/stylesheets/scss/documents.scss
  resources/assets/stylesheets/scss/evaluation.scss
  resources/assets/stylesheets/scss/header.scss
  resources/assets/stylesheets/scss/headings.scss
  resources/assets/stylesheets/scss/helpbar.scss
  resources/assets/stylesheets/scss/ilias-interface.scss
  resources/assets/stylesheets/scss/plugins.scss
  resources/assets/stylesheets/scss/statusgroups.scss
  resources/assets/stylesheets/scss/studip-overlay.scss
  resources/assets/stylesheets/scss/studip-selection.scss
  resources/assets/stylesheets/scss/user-administration.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

fixes #1544
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

do not allow copying a booking into its resource, closes #840
  app/controllers/resources/booking.php
Due: none

Biest #1285
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
Due: lint-js

prevent division by zero, fixes #1542
  app/controllers/course/courseware.php
Due: none

cache administration: prepopulate memcached settings and fix message upon...
  app/controllers/admin/cache.php
  lib/classes/StudipMemcachedCache.php
  resources/vue/components/MemcachedCacheConfig.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

Resolve "Verhaltensänderung in RolePersistence::getAssignedRoleInstitutes() durch #1180"
  lib/classes/MvvPerm.php
Due: test-unit, test-functional, test-jsonapi

Remove WYSIWYG toolbar icon to disable WYSIWYG, fixes #1495
  app/controllers/wysiwyg.php
  resources/assets/javascripts/chunks/wysiwyg.js
  resources/assets/javascripts/cke/StudipSettings.js
Due: lint-js

fix role detection for MvvPerm::getRoles(), fixes #1546
  lib/classes/MvvPerm.php
Due: test-unit, test-functional, test-jsonapi

fix creation and deletion of consultation events, fixes #982
  lib/models/ConsultationBlock.php
  lib/models/ConsultationEvent.php
  lib/models/ConsultationSlot.php
Due: test-unit, test-functional, test-jsonapi

fix #1511
  resources/assets/stylesheets/studip-cke-ui.css
Due: lint-css

date picker colors, fixes #1372
  resources/assets/stylesheets/less/jquery-ui/studip.less
Due: lint-css

Remove unused files, fixes #1485
  public/oauth2.php
Due: none

fix activity feed retrieval, fixes #1557
  app/routes/Activity.php
  lib/activities/Activity.php
  resources/assets/javascripts/lib/activityfeed.js
  templates/start/activityfeed.php
Due: lint-js, test-unit, test-functional, test-jsonapi

fixed URL parameter when calling course/(course_id)/members, re #1429
  resources/assets/javascripts/lib/resources.js
Due: lint-js

resources/resource/temporary_permissions: enabled change button again, re #1428
  app/views/resources/resource/temporary_permissions.php
Due: none

access sidebar search widget correctly since vue will rewrite the dom, fixes #1116
  resources/assets/javascripts/lib/blubber.js
Due: lint-js

Fix #1553
  package-lock.json
  package.json
  resources/assets/javascripts/chunks/wysiwyg.js
Due: lint-js

don't try to load studip-wysiwyg.css, fixes #1560
  lib/classes/PageLayout.php
Due: test-unit, test-functional, test-jsonapi

Disable StudipBlockQuoteIcons while source editing, fixes #1515
  resources/assets/javascripts/cke/studip-quote/StudipBlockQuote.js
Due: lint-js

fix sidebar links on consultation admin page, fixes #1564
  app/controllers/consultation/admin.php
Due: none

Biest #1168
  resources/vue/components/courseware/CoursewareRibbonToolbar.vue
Due: lint-js

Biest #924
  resources/vue/components/courseware/CoursewareContentOverviewElements.vue
Due: lint-js

Biest #1160
  resources/vue/mixins/courseware/export.js
Due: lint-js

fix parameter for registering routes in JsonApiPlugin interface, fixes #1567
  lib/classes/JsonApi/Contracts/JsonApiPlugin.php
Due: test-unit, test-functional, test-jsonapi

migrate less to scss, closes #1547
  resources/assets/stylesheets/less/avatar.less
  resources/assets/stylesheets/less/copyable-links.less
  resources/assets/stylesheets/less/deprecated.less
  resources/assets/stylesheets/less/navigation-hoverborder.less
  resources/assets/stylesheets/less/typography.less
  resources/assets/stylesheets/mixins/studip.scss
  resources/assets/stylesheets/scss/avatar.scss
  resources/assets/stylesheets/scss/clipboard.scss
  resources/assets/stylesheets/scss/contacts.scss
  resources/assets/stylesheets/scss/content_box.scss
  resources/assets/stylesheets/scss/copyable-links.scss
  resources/assets/stylesheets/scss/cronjobs.scss
  resources/assets/stylesheets/scss/forms.scss
  resources/assets/stylesheets/scss/globalsearch.scss
  resources/assets/stylesheets/scss/gradebook.scss
  resources/assets/stylesheets/scss/layouts.scss
  resources/assets/stylesheets/scss/mobile.scss
  resources/assets/stylesheets/scss/navigation-hoverborder.scss
  resources/assets/stylesheets/scss/navigation.scss
  resources/assets/stylesheets/scss/opengraph.scss
  resources/assets/stylesheets/scss/personal-notifications.scss
  resources/assets/stylesheets/scss/search.scss
  resources/assets/stylesheets/scss/selects.scss
  resources/assets/stylesheets/scss/smileys.scss
  resources/assets/stylesheets/scss/study-area-selection.scss
  resources/assets/stylesheets/scss/tabs.scss
  resources/assets/stylesheets/scss/typography.scss
  resources/assets/stylesheets/scss/variables.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
