Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*

don't treat user_id as array, remove duplicate check, fixes #1743
  app/controllers/course/basicdata.php
Due: none

course/members: prevent reading the "write to all" link being read twice, closes #562
  app/views/course/members/accepted_list.php
  app/views/course/members/autor_list.php
  app/views/course/members/awaiting_list.php
  app/views/course/members/dozent_list.php
  app/views/course/members/tutor_list.php
  app/views/course/members/user_list.php
Due: none

prevent php8-warning, closes #1750
  app/controllers/course/basicdata.php
  app/controllers/course/files.php
  app/controllers/course/studygroup.php
  app/controllers/file.php
  app/controllers/files.php
  app/controllers/institute/files.php
  app/controllers/messages.php
  app/controllers/resources/booking.php
  app/controllers/resources/room_request.php
  app/views/admin/sem_classes/details.php
  app/views/course/overview/index.php
  app/views/course/statusgroups/index.php
  app/views/file/add_files_window.php
  app/views/file/edit_license.php
  app/views/resources/booking/_add_edit_form.php
  app/views/resources/resource/permissions.php
  app/views/resources/room_request/planning.php
  lib/classes/Icon.class.php
  lib/classes/MultiPersonSearch.class.php
  lib/classes/Seminar.class.php
  lib/classes/TreeAbstract.class.php
  lib/classes/sidebar/RoomClipboardWidget.class.php
  lib/classes/visibility/UserPrivacy.php
  lib/evaluation/classes/db/EvaluationObjectDB.class.php
  lib/evaluation/evaluation_admin_overview.inc.php
  lib/evaluation/evaluation_admin_overview.lib.php
  lib/filesystem/StandardFile.php
  lib/models/ToolActivation.php
  lib/models/User.class.php
  lib/seminar_open.php
  public/sendfile.php
  templates/dates/seminar_html.php
Due: test-unit, test-functional, test-jsonapi

trim values for search, fixes #1765
  app/controllers/admin/user.php
Due: none

Prevent PHP-Warnings, closes #1764
  app/controllers/admin/datafields.php
  app/controllers/admin/sem_classes.php
  app/controllers/calendar/schedule.php
  app/controllers/calendar/single.php
  app/controllers/contents/courseware.php
  app/controllers/oer/mymaterial.php
  app/controllers/terms.php
  app/views/calendar/contentbox/_termin.php
  app/views/calendar/schedule/index.php
  app/views/calendar/single/year.php
  app/views/course/wizard/steps/basicdata/index_studygroup.php
  app/views/course/wizard/steps/studyareas/index.php
  app/views/my_studygroups/_course.php
  app/views/oer/market/index.php
  app/views/oer/mymaterial/edit.php
  lib/classes/StudipRangeTree.class.php
  lib/classes/StudipRangeTreeViewAdmin.class.php
  lib/classes/calendar/SingleCalendar.php
  lib/classes/coursewizardsteps/StudyAreasWizardStep.php
  lib/classes/sidebar/RoomSearchWidget.class.php
  lib/models/CourseEvent.class.php
  lib/models/OERHost.php
  public/admin_evaluation.php
  public/assets.php
  templates/calendar/calendar_view.php
  templates/calendar/entries/entry.php
  templates/calendar/entries/icons.php
Due: test-unit, test-functional, test-jsonapi

fix typo, fixes #1767
  app/views/course/room_requests/request_select_room.php
  lib/models/resources/Resource.class.php
Due: test-unit, test-functional, test-jsonapi

fix bogus change, fixes #1768
  app/views/course/wizard/steps/studyareas/index.php
Due: none

use Location redirect instead of `redirect()`, fixes #1772
  app/controllers/institute/overview.php
Due: none

don't force setting of MY_INSTITUTES_DEFAULT or MY_COURSES_SELECTED_STGTEIL, fixes #1771
  app/controllers/admin/courseplanning.php
Due: none

fix regression from bf202778, fixes #1701
  resources/assets/stylesheets/scss/personal-notifications.scss
Due: lint-css

fix parameters for semester index retrieval, fixes #1775
  lib/classes/JsonApi/Routes/Courses/CoursesIndex.php
Due: test-unit, test-functional, test-jsonapi

valid semester from config, fixes #1774
  app/controllers/my_courses.php
  lib/classes/MyRealmModel.php
Due: test-unit, test-functional, test-jsonapi

messages/write: fixed collecting users by group-IDs, fixes #1776
  app/controllers/messages.php
Due: none

apply chdate filter first (and fix the filter so it actually works), fixes #1779
  app/controllers/course/admission.php
  lib/classes/admission/CourseSet.class.php
Due: test-unit, test-functional, test-jsonapi

disable and deprecate transformBeforeSave(), fixes #1601
  app/controllers/course/forum/index.php
  lib/classes/ForumEntry.php
  lib/classes/JsonApi/Routes/Forum/AbstractEntriesCreate.php
  lib/classes/JsonApi/Routes/Forum/ForumEntriesUpdate.php
  lib/classes/JsonApi/Routes/Wiki/WikiCreate.php
  lib/classes/JsonApi/Routes/Wiki/WikiUpdate.php
  lib/classes/StudipTransformFormat.php
  lib/models/BlubberComment.php
  lib/models/BlubberThread.php
  lib/visual.inc.php
  lib/wiki.inc.php
Due: test-unit, test-functional, test-jsonapi

remove unused column repeat_quantity from table resource_bookings, fixes #1142
  app/controllers/resources/booking.php
  app/controllers/room_management/planning.php
  db/migrations/5.3.5_remove_bookings_repeat_quantity.php
  lib/models/resources/Resource.class.php
  lib/models/resources/ResourceBooking.class.php
  lib/raumzeit/SingleDate.class.php
  tests/functional/lib/models/resources/ResourceTest.php
Due: test-unit, test-functional, test-jsonapi

only process form values when the form has been submitted, re #1765
  app/controllers/admin/user.php
Due: none

prevent php8-warnings, closes #1770
  app/controllers/admission/courseset.php
  app/controllers/admission/rule.php
  app/controllers/course/forum/index.php
  app/controllers/course/room_requests.php
  app/controllers/resources/room_request.php
  app/controllers/tour.php
  app/controllers/userfilter/field.php
  app/controllers/userfilter/filter.php
  app/views/admission/courseset/configure.php
  app/views/admission/courseset/configure_courses.php
  app/views/admission/courseset/institutes.php
  app/views/course/details/index.php
  app/views/course/forum/index/_threads.php
  app/views/course/forum/index/index.php
  app/views/course/room_requests/request_summary.php
  app/views/resources/building/_add_edit_form.php
  app/views/userfilter/field/configure.php
  lib/admissionrules/conditionaladmission/ConditionalAdmission.class.php
  lib/admissionrules/coursememberadmission/CourseMemberAdmission.class.php
  lib/admissionrules/participantrestrictedadmission/ParticipantRestrictedAdmission.class.php
  lib/classes/RangeTreeObject.class.php
  lib/classes/Request.class.php
  lib/classes/StudipSemSearchHelper.class.php
  lib/classes/TreeAbstract.class.php
  lib/classes/admission/AdmissionRule.class.php
  lib/classes/sidebar/SearchWidget.php
  lib/export/export_studipdata_func.inc.php
  lib/models/resources/ResourceRequest.class.php
  lib/plugins/engine/PluginManager.class.php
Due: test-unit, test-functional, test-jsonapi

Biest 1780
  app/views/oer/market/_materials.php
  app/views/oer/market/index.php
  app/views/oer/market/search.php
  app/views/oer/market/type.php
Due: none

fix #1610
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

CW page metadata image fix
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

adjust migration 246 in order to remove the consultation plugin completely, fixes #1731
  db/migrations/1.246_consultations.php
Due: test-unit, test-functional, test-jsonapi

fix consultation slot generation in combination with pause times, fixes #1582
  app/controllers/consultation/admin.php
  app/views/consultation/admin/create.php
  lib/models/ConsultationBlock.php
  tests/jsonapi/ConsultationHelper.php
Due: test-unit, test-functional, test-jsonapi

failsafe studyarea assignment detection, fixes #1550
  lib/classes/coursewizardsteps/LVGroupsWizardStep.php
Due: test-unit, test-functional, test-jsonapi

remove some unneeded code, re #1339
  app/controllers/room_management/overview.php
  app/views/resources/_common/_resource_tr.php
Due: none

fix #465
  lib/models/Courseware/BlockTypes/Gallery.php
  resources/vue/components/courseware/CoursewareGalleryBlock.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

fix #1047 - add perm check for user context
  lib/classes/JsonApi/Routes/Courseware/Authority.php
Due: test-unit, test-functional, test-jsonapi

Resolve "OER-Campus: Großer schwarzer Kasten"
  app/views/oer/market/details.php
  lib/models/OERMaterial.php
  resources/assets/stylesheets/scss/oer.scss
Due: lint-css, test-unit, test-functional, test-jsonapi

lock times for consultation blocks, fixes #1264
  app/controllers/consultation/admin.php
  app/views/consultation/admin/create.php
  app/views/consultation/admin/edit.php
  app/views/consultation/admin/index.php
  app/views/consultation/admin/ungrouped.php
  app/views/consultation/block-description.php
  app/views/consultation/block-locked.php
  app/views/consultation/overview/index.php
  app/views/consultation/overview/ungrouped.php
  app/views/consultation/slot-occupation.php
  db/migrations/5.3.6_add_consultation_lock_time.php
  lib/classes/JsonApi/Routes/Consultations/BookingsCreate.php
  lib/classes/JsonApi/Schemas/ConsultationBlock.php
  lib/classes/JsonApi/Schemas/ConsultationSlot.php
  lib/models/ConsultationBlock.php
  lib/models/ConsultationSlot.php
  resources/assets/stylesheets/scss/consultation.scss
  tests/jsonapi/ConsultationHelper.php
  tests/jsonapi/ConsultationsBookingCreateBySlotIndexTest.php
  tests/jsonapi/ConsultationsBookingCreateTest.php
Due: lint-css, test-unit, test-functional, test-jsonapi

TIC 1311, closes #1311
  app/controllers/resources/export.php
  app/controllers/room_management/planning.php
  app/views/resources/export/select_booking_sources.php
Due: none

fix sorting, closes #1781
  app/controllers/admin/user.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

allow profile categories to be translated, fixes #1260
  app/controllers/settings/categories.php
  app/views/settings/categories.php
  lib/models/Kategorie.class.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

CW ImageMapBlock: Implement dragging functionality, closes #1136
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareImageMapBlock.vue
Due: lint-js, lint-css

prevent php-warnings, closes #1782
  app/controllers/resources/room_planning.php
  app/controllers/room_management/overview.php
  app/views/resources/room_planning/booking_plan.php
Due: none

submit the correct form, fixes #1783
  resources/assets/javascripts/bootstrap/forms.js
Due: lint-js

remove autofocus polyfill, fixes #1784
  resources/assets/javascripts/bootstrap/application.js
Due: lint-js

CW: Add terms of use to export
  resources/vue/mixins/courseware/export.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js

Adjust order for expired consultation slots, fixes #1785
  app/controllers/consultation/admin.php
Due: none

Unify loading animations across the system, fixes #930
  app/views/messages/overview.php
  public/assets/images/loading-indicator.svg
  resources/assets/javascripts/bootstrap/application.js
  resources/assets/javascripts/bootstrap/files.js
  resources/assets/javascripts/bootstrap/members.js
  resources/assets/javascripts/bootstrap/statusgroups.js
  resources/assets/javascripts/bootstrap/subcourses.js
  resources/assets/javascripts/lib/admission.js
  resources/assets/javascripts/lib/course_wizard.js
  resources/assets/javascripts/lib/fullcalendar.js
  resources/assets/javascripts/lib/resources.js
  resources/assets/javascripts/lib/smiley_picker.js
  resources/assets/javascripts/mvv_course_wizard.js
  resources/assets/stylesheets/scss/admin.scss
  resources/assets/stylesheets/scss/ajax.scss
  resources/assets/stylesheets/scss/globalsearch.scss
  resources/assets/stylesheets/scss/installer.scss
  resources/assets/stylesheets/scss/progress_indicator.scss
  resources/assets/stylesheets/scss/search.scss
  resources/assets/stylesheets/scss/smileys.scss
  resources/assets/stylesheets/scss/studip-overlay.scss
  resources/vue/components/BlubberGlobalstream.vue
  resources/vue/components/BlubberThread.vue
  resources/vue/components/BlubberThreadWidget.vue
  resources/vue/components/StudipProgressIndicator.vue
Due: lint-js, lint-css

prevent php-warnings, closes #1789
  app/controllers/course/admission.php
  app/controllers/course/room_requests.php
  app/controllers/questionnaire.php
  app/views/course/timesrooms/editStack.php
  app/views/questionnaire/_widget_questionnaire.php
  app/views/questionnaire/overview.php
  app/views/questionnaire/question_types/freetext/freetext_edit.php
  app/views/questionnaire/question_types/test/test_edit.php
  lib/classes/Seminar.class.php
  lib/evaluation/classes/Evaluation.class.php
  lib/evaluation/classes/EvaluationAnswer.class.php
  lib/evaluation/classes/EvaluationObject.class.php
  lib/evaluation/classes/EvaluationTree.class.php
  lib/evaluation/classes/EvaluationTreeEditView.class.php
  lib/evaluation/classes/EvaluationTreeShowUser.class.php
  lib/evaluation/classes/HTMLempty.class.php
  lib/evaluation/evaluation.config.php
  lib/evaluation/evaluation_admin_edit.inc.php
  lib/evaluation/evaluation_admin_overview.lib.php
  lib/evaluation/evaluation_admin_template.inc.php
  lib/evaluation/evaluation_admin_template.lib.php
  lib/evaluation/evaluation_show.lib.php
  public/eval_summary.php
  templates/dates/seminar_html_roomplanning.php
Due: test-unit, test-functional, test-jsonapi
