Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

add type to prevent ide-warnings, closes #1469
  app/controllers/my_courses.php
  lib/classes/Metrics.php
Due: test-unit, test-functional, test-jsonapi

changed text strings, closes #1472
  app/controllers/oer/mymaterial.php
  app/views/oer/market/details.php
  app/views/oer/market/index.php
  app/views/oer/market/search.php
Due: none

migrate cli-script twillo-generate-private-keys to symfony-commands, closes #1477
  cli/Commands/Twillo/PrivateKeys.php
  cli/studip
  cli/twillo_generate_keys.php
Due: none

closes #491
  app/views/admin/datafields/new.php
Due: none

Biest #1002
  resources/vue/components/courseware/CoursewareCollapsibleBox.vue
  resources/vue/components/courseware/CoursewareEmbedBlock.vue
  resources/vue/components/courseware/CoursewareTab.vue
Due: lint-js

migrate less to sass, closes #1482
  app/views/shared/include_edit.php
  resources/assets/stylesheets/less/mvv.less
  resources/assets/stylesheets/less/scroll-to-top.less
  resources/assets/stylesheets/less/smileys.less
  resources/assets/stylesheets/mixins/misc.scss
  resources/assets/stylesheets/scss/admin.scss
  resources/assets/stylesheets/scss/links.scss
  resources/assets/stylesheets/scss/mvv.scss
  resources/assets/stylesheets/scss/pagination.scss
  resources/assets/stylesheets/scss/profile.scss
  resources/assets/stylesheets/scss/raumzeit.scss
  resources/assets/stylesheets/scss/scroll-to-top.scss
  resources/assets/stylesheets/scss/skiplinks.scss
  resources/assets/stylesheets/scss/start.scss
  resources/assets/stylesheets/scss/studygroup.scss
  resources/assets/stylesheets/scss/tfa.scss
  resources/assets/stylesheets/scss/tour.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

Resolve "Feststehende Bennenung "OER Campus""
  app/views/contents/courseware/courseware.php
  app/views/course/courseware/index.php
  app/views/file/add_files_window.php
  app/views/oer/embed/_link.php
  app/views/oer/endpoints/index.php
  app/views/oer/market/abo.php
  db/migrations/5.3.2_remove_oer_title.php
  lib/models/OERMaterial.php
  lib/navigation/AdminNavigation.php
  lib/navigation/OERNavigation.php
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareExportWidget.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/courseware-index-app.js
  resources/vue/mixins/courseware/export.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, test-unit, test-functional, test-jsonapi

fix syntax error from b611b1ee894e9c739c60b198bdb4b4d03a940f2f, re #1420
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

re #1327
  app/controllers/course/room_requests.php
  app/views/course/room_requests/_new_request_form_footer.php
  app/views/course/room_requests/_room_with_properties.php
  app/views/course/room_requests/find_by_category.php
  app/views/course/room_requests/find_by_roomname.php
  app/views/course/room_requests/new_request.php
  app/views/course/room_requests/request_second_step.php
Due: none

Raumanfragen on page Zeiten/Räume, re #1327
  app/controllers/course/timesrooms.php
  app/views/course/timesrooms/_roomRequest.php
Due: none

check for seats, re #1327
  app/controllers/course/room_requests.php
  app/views/course/room_requests/_new_request_form_footer.php
  app/views/course/room_requests/find_by_category.php
  app/views/course/room_requests/find_by_roomname.php
  app/views/course/room_requests/new_request.php
  app/views/course/room_requests/request_first_step.php
  app/views/course/room_requests/request_second_step.php
Due: none

first step: looking for room, re #1327
  app/controllers/admin/courses.php
  app/controllers/course/room_requests.php
  app/views/course/room_requests/_new_request_form_header.php
  app/views/course/room_requests/_new_request_header.php
  app/views/course/room_requests/find_by_property.php
  app/views/course/room_requests/find_by_roomname.php
  app/views/course/room_requests/new_request.php
  app/views/course/room_requests/request_first_step.php
  app/views/course/timesrooms/_roomRequest.php
  lib/modules/CoreAdmin.class.php
Due: test-unit, test-functional, test-jsonapi

selection of properties, re #1327
  app/controllers/course/room_requests.php
  app/views/course/room_requests/_new_request_form_footer.php
  app/views/course/room_requests/find_by_category.php
  app/views/course/room_requests/new_request.php
Due: none

change room name and show category properties, re #1327
  app/controllers/course/room_requests.php
  app/views/course/room_requests/_new_request_form_footer.php
  app/views/course/room_requests/_room_with_properties.php
  app/views/course/room_requests/find_by_roomname.php
  app/views/course/room_requests/new_request.php
Due: none

first step: select a room, re #1327
  app/controllers/course/room_requests.php
  app/views/course/room_requests/_new_request_form_footer.php
  app/views/course/room_requests/_new_request_header.php
  app/views/course/room_requests/find_by_category.php
  app/views/course/room_requests/find_by_roomname.php
  app/views/course/room_requests/new_request.php
  app/views/course/room_requests/request_select_room.php
Due: none

fixes #1492
  lib/classes/UserManagement.class.php
  locale/en/LC_MESSAGES/studip.po
Due: test-unit, test-functional, test-jsonapi

Resolve "OER-Campus > Entdeckermodus > Schlagwortbox"
  resources/assets/stylesheets/scss/oer.scss
Due: lint-css

remove global test for high contrast mode and use it only locally on the one occassion, fixes #1493
  resources/assets/javascripts/bootstrap/application.js
  resources/vue/components/MyCoursesNavigation.vue
Due: lint-js

fix missing resolveURL, refs #914
  resources/assets/javascripts/cke/StudipSettings.js
Due: lint-js

fix css lint errors, re #914
  resources/assets/stylesheets/studip-cke-ui.css
Due: lint-css

fix #994
  resources/vue/store/courseware/courseware.module.js
Due: lint-js

allow people without user permissions access to the booking plan in a new tab, closes #836
  app/controllers/resources/room_planning.php
  app/views/resources/room/index.php
  app/views/resources/search/rooms.php
Due: none

transfer CourseHistory plugin into main, fixes #1497
  app/controllers/course/history.php
  app/views/course/history/index.php
  lib/modules/CoreOverview.class.php
Due: test-unit, test-functional, test-jsonapi

fix webpack dev server after merge of 4573c1c71b7c38cb5dfdb68222fa501109b262cf, re #914
  package-lock.json
  package.json
Due: none

also check for RESOURCES_MIN_BOOKING_TIME when handling course dates, closes #862
  app/controllers/course/block_appointments.php
  app/controllers/course/timesrooms.php
  lib/models/resources/Resource.class.php
Due: test-unit, test-functional, test-jsonapi

fixed error when deleting booking interval from a booking with repetitions, closes #704
  app/views/resources/booking/_add_edit_form.php
  resources/assets/javascripts/bootstrap/resources.js
  resources/assets/javascripts/lib/resources.js
  resources/assets/stylesheets/scss/resources.scss
Due: lint-js, lint-css

remove special handling of 'new' icons on 'my courses', fixes #1500
  resources/vue/components/MyCoursesNavigation.vue
Due: lint-js

fix sending of messages to selection of users by status, fixes #1496
  app/controllers/course/members.php
  app/controllers/messages.php
Due: none

Resolve #1503 "Teilnehmerexport als csv zeigt Zwischenüberschriften "Lehrende" und "Studierende""
  lib/export/csv-t-1.xsl
Due: test-unit, test-functional, test-jsonapi

fix passed argument to plugins, fixes #1505
  lib/classes/JsonApi/RouteMap.php
Due: test-unit, test-functional, test-jsonapi

adjust selector specificity, re #914
  resources/assets/stylesheets/less/forms.less
Due: lint-css

copy name attribute for dialog buttons, fixes #1490
  resources/assets/javascripts/lib/dialog.js
Due: lint-js

extend query in migration to cover activations for institutes as well, fixes #1506
  db/migrations/1.314_step_00349.php
Due: test-unit, test-functional, test-jsonapi

use SORM instead plain sql, closes #1491
  app/controllers/admin/additional.php
  app/controllers/course/overview.php
  lib/classes/Context.php
  lib/classes/I18NStringDatafield.php
  lib/classes/admission/userfilter/DatafieldCondition.class.php
  lib/models/DataField.class.php
  lib/models/Statusgruppen.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

fix for BIESt 609, closes #609
  resources/assets/javascripts/bootstrap/application.js
  resources/assets/javascripts/lib/dialogs.js
Due: lint-js

Biest #1494
  app/views/course/room_requests/request_select_properties.php
  app/views/course/room_requests/request_summary.php
Due: none

migrate less to sass, closes #1488
  resources/assets/stylesheets/less/dashboard.less
  resources/assets/stylesheets/less/messages.less
  resources/assets/stylesheets/less/schedule.less
  resources/assets/stylesheets/mixins/studip.scss
  resources/assets/stylesheets/scss/ajax.scss
  resources/assets/stylesheets/scss/article.scss
  resources/assets/stylesheets/scss/css_tree.scss
  resources/assets/stylesheets/scss/dashboard.scss
  resources/assets/stylesheets/scss/i18n.scss
  resources/assets/stylesheets/scss/lists.scss
  resources/assets/stylesheets/scss/messages.scss
  resources/assets/stylesheets/scss/plus.scss
  resources/assets/stylesheets/scss/questionnaire.scss
  resources/assets/stylesheets/scss/quicksearch.scss
  resources/assets/stylesheets/scss/visibility.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

fix #1526
  resources/assets/stylesheets/scss/courseware.scss
Due: lint-css

allow access to resources/export for global resource users, closes #201
  app/controllers/resources/export.php
  lib/navigation/ResourceNavigation.php
Due: test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
