Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*

remove leading v from release name, re #1842
  .gitlab-ci.yml
Due: none

CW: Improved Autosave and UnlockObject
  resources/assets/javascripts/bootstrap/beforeunload-event-listener.js
  resources/assets/javascripts/entry-base.js
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareBlockEdit.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fail safe room request filtering, fixes #1840
  app/controllers/room_management/overview.php
  lib/models/resources/ResourceRequest.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Einzeltermine einer regelmäßigen Zeit werden doppelt/falsch erzeugt"
  lib/models/SeminarCycleDate.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Erweiterung Courseware: Zertifikate, Erinnerungen und Rücksetzen des Fortschritts"
  db/migrations/5.3.11_courseware_cron_events.php
  lib/classes/CoursewarePDFCertificate.php
  lib/classes/JsonApi/Routes/Courseware/CoursewareInstancesUpdate.php
  lib/classes/JsonApi/Schemas/Courseware/Instance.php
  lib/cronjobs/courseware.php
  lib/models/Courseware/Certificate.php
  lib/models/Courseware/Instance.php
  public/assets/images/pdf/pdf_default_background.jpg
  resources/vue/components/courseware/CoursewareToolsAdmin.vue
  resources/vue/store/courseware/courseware.module.js
  templates/courseware/mails/certificate.php
Due: lint-js, test-unit, test-functional, test-jsonapi

migrate from storing last visit dates of blubber threads in config_values to...
  app/routes/Blubber.php
  db/migrations/5.1.37_migrate_blubber_user_config_to_object_user_visits.php
  lib/classes/sidebar/BlubberThreadsWidget.php
  lib/models/BlubberThread.php
  lib/models/ObjectUserVisit.php
  lib/modules/Blubber.class.php
Due: test-unit, test-functional, test-jsonapi

StudipTooltipIcon.vue: made the tooltip focusable, fixes #1857
  resources/vue/components/StudipTooltipIcon.vue
Due: lint-js

Resolve "Twillo-Generate-Private speichert im falschen Pfad"
  cli/Commands/Twillo/PrivateKeys.php
Due: none

fix wrong usage of mix(), fixes #1868
  resources/assets/stylesheets/scss/big-image-handler.scss
  resources/assets/stylesheets/scss/dialog.scss
  resources/assets/stylesheets/scss/studip-overlay.scss
  resources/assets/stylesheets/scss/studip-selection.scss
Due: lint-css

resurrect qrcode display, fixes #1861
  resources/assets/javascripts/bootstrap/qr_code.js
  resources/assets/stylesheets/scss/tfa.scss
  templates/tfa-validate.php
Due: lint-js, lint-css

fix filtering, closes #220
  app/controllers/resources/room_request.php
Due: none

resolves #853
  app/controllers/file.php
  app/controllers/oer/mymaterial.php
  app/views/file/oer_post_upload.php
  db/migrations/5.3.12_add_oer_post_upload_table.php
  lib/cronjobs/remind_oer_upload.class.php
  lib/models/OERPostUpload.php
  resources/assets/stylesheets/less/files.less
Due: lint-css, test-unit, test-functional, test-jsonapi

Resolve "OER Campus: Man kann kein Material mehr hochladen"
  app/views/oer/mymaterial/edit.php
Due: none

Resolve "OER Campus: Aktion „Zugriffszahlen“ für ein Lernmaterial kann nicht aufgerufen werden"
  app/controllers/oer/mymaterial.php
Due: none

Resolve "OER Campus: Vorschaubild statt Logo"
  app/views/oer/mymaterial/edit.php
Due: none

Fix #1867.
  resources/vue/components/BlubberThread.vue
  templates/blubber/threads-overview.php
Due: lint-js

fixed PHP8 warnings in lib/extern/extern.inc.php, fixes #1756
  lib/extern/extern.inc.php
Due: test-unit, test-functional, test-jsonapi

fixed PHP8 warnings in app/views/resources/room_request/planning, fixes #1753
  app/views/resources/room_request/planning.php
Due: none

fixed PHP8 warning in app/views/calendar/single/seminar_events, fixes #1754
  app/views/calendar/single/seminar_events.php
Due: none

Skip recursive lookup if no modules are chosen from ILIAS #1615
  lib/elearning/Ilias4ConnectedCMS.class.php
  lib/ilias_interface/ConnectedIlias.class.php
Due: test-unit, test-functional, test-jsonapi

fix scroll-to-top calculcation, fixes #1758
  resources/assets/stylesheets/scss/scroll-to-top.scss
Due: lint-css

rename changelog file to markdown and adjust it accordingly, fixes #1843
  ChangeLog
  ChangeLog.md
  doc/ChangeLog-v0.md
  doc/ChangeLog-v1.md
  doc/ChangeLog-v2.md
  doc/ChangeLog-v3.md
Due: none

Resolve "Fehler in der Veranstaltungsansicht - Neue HTML-Struktur"
  templates/header.php
Due: none

fix variable access, re #32
  lib/modules/CoreElearningInterface.class.php
Due: test-unit, test-functional, test-jsonapi

fix encoding of json data, re #32
  templates/header.php
Due: none

relocate script tag, re #32
  templates/header.php
Due: none

Resolve "Polishing für die neue HTML-Stuktur" Teil 1
  lib/classes/TwoFactorAuth.php
  resources/assets/javascripts/lib/skip_links.js
  resources/assets/stylesheets/scss/article.scss
  resources/assets/stylesheets/scss/header.scss
  resources/assets/stylesheets/scss/layouts.scss
  resources/assets/stylesheets/scss/mobile.scss
  resources/assets/stylesheets/scss/personal-notifications.scss
  resources/assets/stylesheets/scss/responsive.scss
  resources/assets/stylesheets/studip.scss
  resources/vue/components/responsive/ResponsiveContentBar.vue
  templates/contentbar/contentbar.php
  templates/footer.php
  templates/header.php
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

add missing call to page_close, fixes #1890
  lib/classes/forms/Form.php
Due: test-unit, test-functional, test-jsonapi

failsafe migration, fixes #1891
  db/migrations/5.1.37_migrate_blubber_user_config_to_object_user_visits.php
Due: test-unit, test-functional, test-jsonapi

add Content-Length header for render_json(), fixes #1889
  app/controllers/studip_controller.php
Due: test-unit, test-functional, test-jsonapi

StEP 1352, closes #1352
  app/controllers/resources/room_group.php
  app/controllers/room_management/overview.php
  app/views/resources/room_group/permissions.php
  app/views/room_management/overview/buildings.php
Due: none

handle skiplink focus via CSS, closes #1892
  resources/assets/javascripts/bootstrap/skip_links.js
  resources/assets/javascripts/lib/skip_links.js
  resources/assets/stylesheets/scss/skiplinks.scss
  templates/skiplinks.php
Due: lint-js, lint-css

fix alignment in messages-form, closes #1803
  app/views/messages/write.php
  resources/assets/stylesheets/scss/messages.scss
  resources/assets/stylesheets/studip-cke-ui.css
  templates/quicksearch/inputfield.php
Due: lint-css

closes #1903
  app/views/messages/write.php
Due: none

Revert "CW: Improved Autosave and UnlockObject"
  resources/assets/javascripts/bootstrap/beforeunload-event-listener.js
  resources/assets/javascripts/entry-base.js
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareBlockEdit.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

remove unused code, fixes #564
  lib/classes/ContentGroupMenu.php
  templates/shared/contentgroup-table.php
Due: test-unit, test-functional, test-jsonapi

move code to controller, closes #806
  app/controllers/oer/market.php
  app/views/oer/market/index.php
Due: none

ensure the user may create a booking for a slot, fixes #1883
  lib/classes/JsonApi/Routes/Consultations/Authority.php
  lib/classes/JsonApi/Routes/Consultations/BookingsCreate.php
  tests/jsonapi/ConsultationsBookingCreateBySlotIndexTest.php
Due: test-unit, test-functional, test-jsonapi
