Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

safety if #fullscreen-on or #fullscreen-off don't exist on page, fixes #2146
  resources/assets/javascripts/bootstrap/fullscreen.js
Due: lint-js

refine a11y, re #1489
  app/views/admin/user/show_user_courses.php
Due: none

remove course notifications as well when deleting user and cleanup table via migration, fixes #2141
  db/migrations/5.1.41_cleanup_seminar_user_notifications.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Fehler bei Migration CreateCwUnitsTable"
  db/migrations/5.3.16_create_cw_units_table.php
  lib/classes/JsonApi/Routes/Courseware/UnitsCreate.php
  lib/models/Courseware/Unit.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Anlegen von Coursewares funktioniert nicht immer"
  lib/classes/JsonApi/Routes/Courseware/UnitsCreate.php
Due: test-unit, test-functional, test-jsonapi

fix url generation, fixes #2156
  app/controllers/module/module.php
Due: none

fix #2096
  resources/vue/components/courseware/CoursewareDashboardStudents.vue
Due: lint-js

adjust minimum requirements, fixes #2155
  INSTALL.md
  config/studip-requirements.php
Due: none

fixed setting lecturers in course/timesrooms/saveDate, closes #1812
  app/controllers/course/timesrooms.php
Due: none

fix #2008
  lib/models/Courseware/BlockTypes/Audio.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Zertifikatsversand muss für neue Coursewarefunktionen angepasst werden"
  db/migrations/5.3.18_cw_unit_adjustments.php
  lib/classes/JsonApi/Routes/Courseware/CoursewareInstancesUpdate.php
  lib/cronjobs/courseware.php
  lib/models/Courseware/Instance.php
  lib/models/Courseware/Unit.php
Due: test-unit, test-functional, test-jsonapi

global search: add alt attributes and change display of reset icon, fixes #821
  resources/assets/stylesheets/scss/globalsearch.scss
  templates/globalsearch/searchbar.php
Due: lint-css

adjust blur effects to new conditions, fixes #2069
  resources/assets/stylesheets/scss/globalsearch.scss
Due: lint-css

fix display of portal plugins for nobody and set function as deprecated, fixes #2051
  public/index.php
  resources/assets/stylesheets/scss/index.scss
  resources/assets/stylesheets/scss/responsive.scss
  templates/index_nobody.php
  templates/shared/index_box.php
Due: lint-css

disallow NULL values for columns Vorname, Nachname and Email in table auth_user_md5, fixes #1998
  app/controllers/course/members.php
  app/views/course/members/index.php
  db/migrations/5.2.16_alter_auth_user_md5_null_columns.php
Due: test-unit, test-functional, test-jsonapi

Revert "global search: add alt attributes and change display of reset icon, re #821"
  resources/assets/stylesheets/scss/globalsearch.scss
  templates/globalsearch/searchbar.php
Due: lint-css

prevent deprecation warning from scss compiler, re #2051
  resources/assets/stylesheets/scss/index.scss
Due: lint-css

add alt attributes, fixes #821
  resources/assets/stylesheets/scss/globalsearch.scss
  templates/globalsearch/searchbar.php
Due: lint-css

fix type hints, closes #2162
  lib/classes/JsonApi/Routes/Courseware/UserProgressesOfUnitsShow.php
  lib/models/Courseware/Instance.php
Due: test-unit, test-functional, test-jsonapi

fix permission handling, fixes #2160
  app/controllers/room_management/overview.php
  lib/resources/ResourceManager.class.php
Due: test-unit, test-functional, test-jsonapi

set translations after locale has been set, fixes #2089
  resources/assets/javascripts/bootstrap/application.js
  resources/assets/javascripts/bootstrap/multi_select.js
  resources/assets/javascripts/cke/studip-a11y-dialog/a11y-dialog.js
  resources/assets/javascripts/lib/calendar.js
  resources/assets/javascripts/lib/forum.js
Due: lint-js

rename migration, re #1998
  db/migrations/5.1.42_alter_auth_user_md5_null_columns.php
Due: test-unit, test-functional, test-jsonapi

fixes #2163
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

prevent warning in StudipCoreFormat, fixes #2174
  lib/classes/StudipCoreFormat.php
Due: test-unit, test-functional, test-jsonapi

swap conditions, fixes #2175
  app/views/course/forum/index/index.php
Due: none

remove special handling of input[type=image][formaction], fixes #2177
  resources/assets/javascripts/bootstrap/forms.js
Due: lint-js

fix #2127
  resources/vue/components/courseware/CoursewareStructuralElementDialogCopy.vue
Due: lint-js

prevent php8 warning, fixes #2180
  lib/classes/librarysearch/LibraryDocument.class.php
Due: test-unit, test-functional, test-jsonapi

extracted translatable strings, re #2182
  locale/en/LC_MESSAGES/js-resources.json
  locale/en/LC_MESSAGES/js-resources.po
  locale/en/LC_MESSAGES/studip.mo
  locale/en/LC_MESSAGES/studip.po
Due: none

added hidden input for the "from" parameter, fixes #2179
  app/views/resources/export/select_booking_sources.php
Due: none

fix wording, fixes #2183
  app/controllers/resources/export.php
Due: none

use php 7.2 for tests and fix error in jsonapi, fixes #2166
  .gitlab-ci.yml
  lib/classes/JsonApi/Routes/Files/FileRefsCreate.php
Due: test-unit, test-functional, test-jsonapi

fix csrf protection, fixes #2184
  app/controllers/resources/admin.php
  app/controllers/resources/export.php
Due: none

added weekday selector in resources/export/resource_bookings, closes #2181
  app/controllers/resources/export.php
  app/views/resources/export/resource_bookings.php
  app/views/resources/export/select_booking_sources.php
  app/views/resources/export/weekday-selector.partial.php
Due: none

ensure variable from_plugin is set, fixes #2185
  app/controllers/file.php
  app/views/file/file_details.php
Due: none

allow mp4/m4a selection in courseware audio block
  resources/vue/components/courseware/CoursewareFileChooser.vue
Due: lint-js

fixes #2007
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

drop duplicate cw-block-content for CoursewareTextBlock, fixes #2052
  resources/vue/components/courseware/CoursewareTextBlock.vue
Due: lint-js

resurrect trails parameter type 'string', fixes #2165
  app/controllers/studip_controller.php
  tests/unit/lib/classes/StudipControllerTest.php
Due: test-unit, test-functional, test-jsonapi

clone records before fetching into them so that the after_initialize will always be called on a fresh object
  lib/models/SimpleORMap.class.php
  tests/unit/lib/classes/SimpleOrMapNodbTest.php
Due: test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
