Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

fix property access, fixes #1298
  app/views/admin/user/index.php
Due: none

resurrect property, re #1295
  lib/evaluation/classes/Evaluation.class.php
Due: test-unit, test-functional, test-jsonapi

ensure booking is valid before updating event, fixes #1300
  lib/models/ConsultationSlot.php
Due: test-unit, test-functional, test-jsonapi

define properties, re #1295
  lib/wiki.inc.php
  phpstan.neon.dist
Due: test-unit, test-functional, test-jsonapi

declare undeclared variables, fixes #1235
  lib/classes/DataFieldEntry.class.php
  lib/classes/I18N.php
  lib/classes/JsonApi/Models/ForumEntry.php
  lib/classes/JsonApi/Routes/Files/RangeFileRefsCreate.php
  lib/classes/MvvI18N.php
  lib/classes/Smiley.php
  lib/classes/StudipForm.class.php
  lib/classes/StudipRangeTreeViewAdmin.class.php
  lib/classes/TreeView.class.php
  lib/classes/restapi/ConsumerPermissions.php
Due: test-unit, test-functional, test-jsonapi

fix a11y stuff in individual rooms-groups, closes #1094
  lib/classes/sidebar/RoomClipboardWidget.class.php
  resources/assets/javascripts/bootstrap/clipboard.js
  resources/assets/javascripts/bootstrap/resources.js
  resources/assets/javascripts/lib/actionmenu.js
  resources/assets/javascripts/lib/clipboard.js
  resources/assets/stylesheets/less/clipboard.less
  resources/assets/stylesheets/scss/resources.scss
  templates/sidebar/clipboard-area.php
  templates/sidebar/clipboard-widget.php
  templates/sidebar/room-clipboard-item.php
  templates/sidebar/room-clipboard-widget.php
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

stop overriding the button focus outline, fixes #1304
  lib/classes/LinkButton.class.php
  resources/assets/stylesheets/less/buttons.less
  resources/assets/stylesheets/scss/buttons.scss
  tests/unit/lib/classes/LinkButtonTest.php
Due: lint-css, test-unit, test-functional, test-jsonapi

fix code for restapi routes, fixes #1303
  app/routes/Feedback.php
  app/routes/FileSystem.php
  app/routes/ResourceBooking.php
  app/routes/ResourceCategories.php
  app/routes/ResourcePermissions.php
  app/routes/ResourceProperties.php
  app/routes/ResourceRequest.php
  app/routes/Resources.php
  app/routes/RoomClipboard.php
  app/routes/User.php
  app/routes/Wiki.php
  lib/models/FeedbackElement.php
  lib/models/FeedbackEntry.php
  lib/models/resources/ResourceCategory.class.php
  lib/models/resources/ResourcePropertyDefinition.class.php
Due: test-unit, test-functional, test-jsonapi

improve a11y in room-search, closes #1024
  resources/assets/javascripts/bootstrap/resources.js
  resources/assets/javascripts/lib/resources.js
  resources/assets/stylesheets/scss/resources.scss
  templates/sidebar/room-search-criteria-available-range.php
  templates/sidebar/room-search-criteria-seats.php
  templates/sidebar/room-search-criteria-templates.php
  templates/sidebar/room-search-criteria.php
  templates/sidebar/room-search-tree-widget.php
  templates/sidebar/room-search-widget.php
  templates/sidebar/time-range-filter.php
Due: lint-js, lint-css

relocate to root folder when given folder cannot be loaded, fixes #1305
  app/controllers/course/files.php
  app/controllers/files.php
  app/controllers/institute/files.php
Due: none

fix new semclass entries closes #1290
  app/views/admin/sem_classes/add_sem_type.php
  lib/classes/SemClass.class.php
Due: test-unit, test-functional, test-jsonapi

correct typo in 79c112f6, fixes #1324
  resources/assets/javascripts/lib/search.js
Due: lint-js

add features to public room-list, closes #1306
  app/controllers/room_management/overview.php
  app/views/resources/_common/_action_menu.php
  app/views/resources/_common/_grouped_room_list.php
  app/views/resources/_common/_resource_tr.php
Due: none

use gitlab format for phpstan, re #606
  .gitlab-ci.yml
  phpstan.neon.dist
Due: none

update phpstan to 1.8, re #606
  composer.json
  composer.lock
Due: test-unit, test-functional, test-jsonapi

fix errors in tests, fixes #1309
  lib/models/resources/ResourcePropertyDefinition.class.php
  phpstan.neon.dist
  tests/functional/lib/models/resources/BuildingTest.php
  tests/functional/lib/models/resources/LocationTest.php
  tests/functional/lib/models/resources/ResourceAssignmentTest.php
  tests/functional/lib/models/resources/ResourceTest.php
  tests/functional/lib/models/resources/RoomTest.php
  tests/functional/lib/resources/ResourceManagerTest.php
  tests/functional/lib/resources/RoomManagerTest.php
  tests/jsonapi/BlubberTestHelper.php
  tests/jsonapi/CommentsDeleteTest.php
  tests/jsonapi/CourseNewsCreateTest.php
  tests/jsonapi/ForumEntriesDeleteTest.php
  tests/jsonapi/NewsCreateTest.php
  tests/jsonapi/NewsDeleteTest.php
  tests/unit/lib/FunctionsTest.php
  tests/unit/lib/VisualTest.php
  tests/unit/lib/classes/AvatarClassTest.php
  tests/unit/lib/classes/CronjobScheduleTest.php
  tests/unit/lib/classes/CsrfProtectionTest.php
  tests/unit/lib/classes/IconClassTest.php
  tests/unit/lib/classes/MarkupClassTest.php
  tests/unit/lib/classes/NotificationCenterTest.php
  tests/unit/lib/classes/ObjectBuilderTest.php
  tests/unit/lib/classes/PluginRepositoryTest.php
  tests/unit/lib/classes/StudipFormatTest.php
  tests/unit/lib/classes/StudipVersionTest.php
  tests/unit/lib/classes/TextFormatTest.php
  tests/unit/varstream.php
Due: test-unit, test-functional, test-jsonapi

avoid use of `tfoot` in nested tables in MVV, fixes #90
  app/views/fachabschluss/kategorien/details.php
  app/views/fachabschluss/kategorien/index.php
  app/views/module/module/details.php
  app/views/module/module/modulteil_lvg.php
  app/views/studiengaenge/informationen/degree.php
  app/views/studiengaenge/informationen/index.php
  app/views/studiengaenge/stgteilbezeichnungen/index.php
  app/views/studiengaenge/studiengaenge/stgteil_bezeichnungen.php
  app/views/studiengaenge/studiengaenge/studiengangteile.php
  app/views/studiengaenge/versionen/abschnitte.php
  app/views/studiengaenge/versionen/details_abschnitt.php
  resources/assets/stylesheets/less/mvv.less
  resources/assets/stylesheets/less/tables.less
Due: lint-css

display only tbody elements with data, fixes #317
  resources/assets/stylesheets/less/files.less
  resources/vue/components/FilesTable.vue
Due: lint-js, lint-css

fix most of the errors reported from phpstan in `app/controllers`, fixes #1328
  app/controllers/admin/autoinsert.php
  app/controllers/admin/courseplanning.php
  app/controllers/admin/courses.php
  app/controllers/admin/install.php
  app/controllers/admin/smileys.php
  app/controllers/admission/courseset.php
  app/controllers/calendar/contentbox.php
  app/controllers/course/forum/index.php
  app/controllers/course/lvgselector.php
  app/controllers/course/members.php
  app/controllers/course/plus.php
  app/controllers/course/wizard.php
  app/controllers/files.php
  app/controllers/help_content.php
  app/controllers/institute/basicdata.php
  app/controllers/institute/members.php
  app/controllers/messages.php
  app/controllers/module/module.php
  app/controllers/my_courses.php
  app/controllers/news.php
  app/controllers/questionnaire.php
  app/controllers/settings/settings.php
  app/controllers/shared/contacts.php
  app/controllers/shared/download.php
  app/controllers/studiengaenge/stgteilbezeichnungen.php
  app/controllers/studiengaenge/studiengaenge.php
  app/controllers/studiengaenge/studiengangteile.php
  app/controllers/studip_controller.php
  app/controllers/studip_controller_properties_trait.php
  app/controllers/tour.php
  app/views/help_content/edit.php
  lib/models/MvvContactRange.php
  lib/models/ToolActivation.php
  phpstan.neon.dist
Due: test-unit, test-functional, test-jsonapi

fix typo, fixes #1330
  app/controllers/oer/mymaterial.php
Due: none

fix typo, fixes #1332
  app/controllers/tour.php
Due: none

fix require once paths, re #1328
  app/controllers/admin/install.php
  app/controllers/studip_controller.php
Due: test-unit, test-functional, test-jsonapi

use getter, closes #1334
  app/controllers/course/admission.php
Due: none

fix #378 - show room search to everybody and join building search and room search into one search
  app/controllers/room_management/overview.php
Due: none

fix locking of courses when locking a semester, fixes #1329
  app/controllers/admin/semester.php
  lib/models/SemesterCourse.class.php
Due: test-unit, test-functional, test-jsonapi

fix fallout from 769675071b44cff1f699396270b378d189ada866 and provide test for variable assignments in StudipController, re #1328
  app/controllers/calendar/single.php
  app/controllers/studip_controller_properties_trait.php
  tests/unit/lib/classes/StudipControllerTest.php
Due: test-unit, test-functional, test-jsonapi

add coverage docblock, re #1328
  tests/unit/lib/classes/StudipControllerTest.php
Due: test-unit, test-functional, test-jsonapi

fix PluginController, re #1328
  app/controllers/plugin_controller.php
Due: test-unit, test-functional, test-jsonapi

fix bad assignments on previously undeclared arrays in StudipController, re #1328
  app/controllers/calendar/single.php
  app/controllers/studip_controller_properties_trait.php
  tests/unit/lib/classes/StudipControllerTest.php
Due: test-unit, test-functional, test-jsonapi

migration 1.271: convert all num attributes (except "seats") to text, closes #269
  db/migrations/1.271_room_management_migration.php
Due: test-unit, test-functional, test-jsonapi

Fixes #1130.
  resources/vue/components/courseware/CoursewareFolderChooser.vue
Due: lint-js

rename migration, re #1147
  db/migrations/5.1.34_activate_semester_routes.php
Due: test-unit, test-functional, test-jsonapi

fix missing variable, fixes #1336
  app/controllers/materialien/files.php
Due: none

Update ChangeLog
  ChangeLog
Due: none

remove unsused code, fixes #1342
  app/controllers/institute/calendar.php
Due: none

fix constructor call, re #1245
  lib/classes/forms/Form.php
Due: test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
