Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

fix #1687
  lib/classes/JsonApi/Schemas/Courseware/Block.php
  lib/classes/JsonApi/Schemas/Courseware/Container.php
Due: test-unit, test-functional, test-jsonapi

fix #1699
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsCreate.php
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

Biest #1651
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fix translation using gettextInterpolate(), fixes #1062
  resources/assets/javascripts/bootstrap/mvv_difflog.js
  resources/vue/components/EditableList.vue
  resources/vue/components/MyCoursesColorPicker.vue
  resources/vue/components/StudipMultiPersonSearch.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareContentPermissions.vue
  resources/vue/components/courseware/CoursewareContentShared.vue
  resources/vue/components/courseware/CoursewareDashboardProgress.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareManagerElement.vue
  resources/vue/components/courseware/CoursewareManagerElementItem.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/mixins/courseware/oermessage.js
Due: lint-js

remove duplicate output of study area name, fixes #1702
  app/views/course/wizard/steps/studyareas/index.php
Due: none

fix scss for select2, fixes #1706
  resources/assets/stylesheets/scss/selects.scss
Due: lint-css

allow changing of many options for consultation blocks, fixes #1707
  app/controllers/consultation/admin.php
  app/views/consultation/admin/edit.php
  lib/models/ConsultationBlock.php
Due: test-unit, test-functional, test-jsonapi

fix storing of i18n contents, fixes #1708
  lib/classes/forms/I18n_formattedInput.php
Due: test-unit, test-functional, test-jsonapi

fix I18NTextarea vue component, fixes #1704
  resources/vue/components/I18nTextarea.vue
Due: lint-js

Add `DIContainer` class and `app` helper, refs #1684.
  lib/bootstrap-definitions.php
  lib/bootstrap.php
  lib/classes/DIContainer.php
  lib/helpers.php
Due: test-unit, test-functional, test-jsonapi

add db and cache to definitions, re #1684
  lib/bootstrap-definitions.php
Due: test-unit, test-functional, test-jsonapi

add HTML marker on ajax save, re #1708
  resources/vue/components/I18nTextarea.vue
Due: lint-js

prevent more php8 warnings, fixes #1679 (again)
  app/controllers/admission/courseset.php
  app/controllers/admission/restricted_courses.php
  app/controllers/studip_controller.php
  app/views/admin/user/index.php
  app/views/admission/courseset/_institute_choose.php
  app/views/admission/institute-select.php
  app/views/admission/restricted_courses/_institute_choose.php
  app/views/admission/restricted_courses/index.php
  app/views/admission/user_list/configure.php
  app/views/course/feedback/_add_edit_entry_form.php
  app/views/course/forum/index/_post.php
  app/views/course/forum/index/index.php
  app/views/questionnaire/evaluate.php
  app/views/siteinfo/markup/adminList.php
  app/views/siteinfo/markup/indicator.php
  app/views/siteinfo/markup/rootlist.php
  app/views/siteinfo/markup/toplist.php
  lib/classes/CoursesetModel.php
  lib/classes/MediaProxy.php
  lib/classes/MyRealmModel.php
  lib/classes/Siteinfo.php
  lib/classes/StudipCoreFormat.php
  lib/classes/admission/UserFilter.class.php
  lib/models/DatafieldEntryModel.class.php
  lib/models/User.class.php
  lib/user_visible.inc.php
  lib/visual.inc.php
  public/sendfile.php
  templates/shared/pagechooser.php
Due: test-unit, test-functional, test-jsonapi

Use Monolog as PSR-11 compatible logger, refs #1686.
  composer.json
  composer.lock
  lib/bootstrap.php
  lib/classes/FilesSearch/FilesIndexManager.php
  lib/classes/Log.php
  lib/classes/admission/RandomAlgorithm.class.php
  lib/classes/auth_plugins/StudipAuthCAS.class.php
  lib/cronjobs/check_admission.class.php
  lib/models/Course.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve TIC #1678 "Export in der Benutzerverwaltung soll auch Datenfelder enthalten"
  app/controllers/admin/user.php
Due: none

fix #1452
  resources/vue/components/courseware/CoursewareTreeItem.vue
Due: lint-js

fix #996
  resources/vue/components/courseware/CoursewareDialogCardsBlock.vue
Due: lint-js

fix #1632
  app/controllers/course/courseware.php
  lib/models/Courseware/StructuralElement.php
Due: test-unit, test-functional, test-jsonapi

fix for BIESt 1283, closes #1283
  app/controllers/admin/install.php
  app/controllers/course/members.php
  app/controllers/messages.php
  app/controllers/oer/addfile.php
  app/controllers/resources/booking.php
  app/views/admin/install/layout.php
  app/views/admin/install/prepare.php
  app/views/admin/install/root.php
  app/views/messages/overview.php
  app/views/messages/write.php
  lib/classes/AutoInsert.class.php
  lib/classes/LinkButton.class.php
  lib/classes/OAuth2/Exceptions/InvalidAuthTokenException.php
  lib/classes/SystemChecker.php
  lib/classes/restapi/RouteMap.php
  lib/elearning/Ilias4ContentModule.class.php
  lib/models/CourseDate.class.php
  lib/models/Courseware/StructuralElement.php
  lib/models/DatafieldEntryModel.class.php
  lib/raumzeit/MetaDate.class.php
  lib/visual.inc.php
  phpstan-php8.neon.dist
  tests/unit/lib/classes/RequestTest.php
Due: test-unit, test-functional, test-jsonapi

prevent more php8 warnings, fixes #1717
  app/views/calendar/schedule/_entry_schedule.php
  app/views/calendar/schedule/entry.php
  lib/calendar/CalendarColumn.class.php
  lib/classes/sidebar/SearchWidget.php
  lib/visual.inc.php
Due: test-unit, test-functional, test-jsonapi

adjust password reset links expiration to 1 week and include expiration info in sent mails, fixes #1647
  lib/classes/UserManagement.class.php
  lib/models/Token.php
Due: test-unit, test-functional, test-jsonapi

fix wrong height in Firefox, fixes #1103
  resources/assets/stylesheets/scss/sidebar.scss
Due: lint-css

provide link role for screenreaders, re #1719
  resources/vue/components/courseware/CoursewareSearchWidget.vue
  templates/sidebar/search-widget.php
Due: lint-js

title attribute for courseware search widget, re #1719
  resources/vue/components/courseware/CoursewareSearchWidget.vue
Due: lint-js

make reset link focusable, fixes #1719
  resources/vue/components/courseware/CoursewareSearchWidget.vue
Due: lint-js

undo changes, prepare for MR, re #1719
  resources/vue/components/courseware/CoursewareSearchWidget.vue
  templates/sidebar/search-widget.php
Due: lint-js

fix #1712
  lib/classes/Markup.class.php
Due: test-unit, test-functional, test-jsonapi

fix table name in SQL query, fixes #1727
  lib/classes/searchtypes/InstituteSearch.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Sidebar-Suchwidget verwendet einen Link für das Zurücksetzen-Icon statt eines Buttons"
  resources/assets/stylesheets/scss/sidebar.scss
  resources/vue/components/courseware/CoursewareSearchWidget.vue
  templates/sidebar/search-widget.php
Due: lint-js, lint-css

Biest #636
  resources/vue/store/courseware/courseware.module.js
Due: lint-js

show exception on database connection error in development mode, fixes #1716
  lib/bootstrap.php
Due: test-unit, test-functional, test-jsonapi

drop special CSS for document tables, remove extra spacing, fixes #1728
  app/views/file/choose_file.php
  app/views/file/choose_folder.php
  resources/assets/stylesheets/less/files.less
  resources/vue/components/FilesTable.vue
Due: lint-js, lint-css

avoid creating empty tbody elements, fixes #1730
  app/views/file/choose_file.php
Due: none

Biest #1151
  resources/vue/components/courseware/CoursewareManagerCopySelector.vue
Due: lint-js

fix call to tabularasa action for institutes, fixes #1734
  app/controllers/my_institutes.php
Due: none

Resolve "Fehler bei Terminvergabe, wenn Nutzer gelöscht wird"
  lib/models/ConsultationSlot.php
Due: test-unit, test-functional, test-jsonapi

prevent warning, fixes #1741
  lib/classes/coursewizardsteps/LVGroupsWizardStep.php
Due: test-unit, test-functional, test-jsonapi

Use dependency injection in trails, closes #1714.
  cli/Commands/Checks/HelpTours.php
  lib/bootstrap-definitions.php
  lib/classes/StudipDispatcher.php
  lib/functions.php
  lib/helpers.php
  lib/modules/EvaluationsWidget.php
  lib/modules/NewsWidget.php
  lib/modules/TerminWidget.php
  lib/plugins/core/StudIPPlugin.class.php
  public/dispatch.php
  public/web_migrate.php
Due: test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
