Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

Resolve #2053 "Evaluationen (alt): Zugeordnete Bereiche werden nicht mit Namen angezeigt"
  lib/evaluation/classes/db/EvaluationObjectDB.class.php
Due: test-unit, test-functional, test-jsonapi

BIEST #2049
  lib/models/Courseware/StructuralElement.php
Due: test-unit, test-functional, test-jsonapi

made the times / rooms section on the course details page more accessible, closes #1244
  app/views/course/details/index.php
  lib/dates.inc.php
  lib/raumzeit/SingleDate.class.php
  resources/assets/javascripts/bootstrap/application.js
  templates/dates/seminar_html_location.php
Due: lint-js, test-unit, test-functional, test-jsonapi

prevent warning, fixes #2056
  templates/header.php
Due: none

prevent warning (and suppress the massive to tidy up this mess), fixes #2059
  templates/dates/_seminar_rooms.php
  templates/dates/seminar_html.php
Due: none

re #2059
  templates/dates/seminar_html.php
Due: none

remove bogus third matching group handling, fixes #2060
  lib/classes/SmileyFormat.php
Due: test-unit, test-functional, test-jsonapi

use aria-current="page" correctly, closes #1748
  lib/navigation/Navigation.php
  templates/header.php
  templates/index_nobody.php
  templates/tabs.php
Due: test-unit, test-functional, test-jsonapi

prevent warning in OpenGraphURL, fixes #2068
  lib/models/OpenGraphURL.class.php
Due: test-unit, test-functional, test-jsonapi

adjust sorm methods to count/return only distinct values, fixes #1885
  lib/models/BlubberThread.php
  lib/models/OERHost.php
  lib/models/SimpleORMap.class.php
Due: test-unit, test-functional, test-jsonapi

Revert "adjust sorm methods to count/return only distinct values, re #1885"
  lib/models/BlubberThread.php
  lib/models/OERHost.php
  lib/models/SimpleORMap.class.php
Due: test-unit, test-functional, test-jsonapi

prevent warning in CourseWare\StructuralElement::hasEditingPermission(), fixes #2070
  lib/models/Courseware/StructuralElement.php
Due: test-unit, test-functional, test-jsonapi

jump to current date when "Now" is clicked, fixes #2084
  resources/assets/javascripts/studip-ui.js
Due: lint-js

set locale for pickers after locale has been set, fixes #2085
  resources/assets/javascripts/studip-ui.js
Due: lint-js

drop table blubber_follower and remove last remaining code for it, fixes #2082
  db/migrations/5.1.40_drop_table_blubber_follower.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

fix #2087
  lib/classes/globalsearch/GlobalSearchCourseware.php
Due: test-unit, test-functional, test-jsonapi

only select distinct courses in Course::findByUser(), fixes #2086
  lib/models/Course.class.php
Due: test-unit, test-functional, test-jsonapi

Polishing TIC: Courseware Import Wording und Position
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareExportWidget.vue
  resources/vue/components/courseware/CoursewareImportWidget.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareStructuralElementDialogCopy.vue
  resources/vue/components/courseware/CoursewareStructuralElementDialogImport.vue
  resources/vue/components/courseware/CoursewareStructuralElementDialogLink.vue
Due: lint-js, lint-css

Resolve "DataField::getDataFields filtert bei Veranstaltungen falsch nach der Kategorie"
  lib/models/DataField.class.php
Due: test-unit, test-functional, test-jsonapi

fix findByModel() for object_type "sem" and "inst", re #2104
  lib/models/DatafieldEntryModel.class.php
Due: test-unit, test-functional, test-jsonapi

Vererbung von Lese- und Schreibrechten in CW
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsCreate.php
  lib/models/Courseware/StructuralElement.php
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

hide request-buttons for user without permissions, closes #1270
  app/controllers/resources/room.php
  app/views/resources/room/index.php
Due: none

fix #2111
  resources/vue/components/courseware/CoursewareStructuralElementDialogLink.vue
Due: lint-js

replace use of "npm bin" with "npx", fixes #2122
  Makefile
Due: none

fail safe unit test, fixes #2093
  tests/unit/lib/classes/StudipFileloaderTest.php
Due: test-unit, test-functional, test-jsonapi

use v-translate, fixes #2121
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

adjust svgo config, fixes #2123
  config/svgo.config.js
Due: none

Resolve "Kopfzeile und Hilfe/Fullscreen-Icon scrollen nach rechts aus dem Anzeigebereich heraus"
  resources/assets/stylesheets/scss/layouts.scss
Due: lint-css

fix #2127
  resources/vue/components/courseware/CoursewareStructuralElementDialogCopy.vue
Due: lint-js

fix #2118
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fixes #2134
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

fix #2100
  app/controllers/contents/courseware.php
  app/controllers/course/courseware.php
  app/views/contents/courseware/courseware.php
  app/views/course/courseware/courseware.php
  lib/classes/JsonApi/Routes/Courseware/CoursewareInstancesHelper.php
  resources/vue/courseware-shelf-app.js
Due: lint-js, test-unit, test-functional, test-jsonapi

Resolve "Wiki/Courseware: Inhaltsverzeichnis hängt falsch"
  resources/assets/javascripts/bootstrap/fullscreen.js
  resources/assets/stylesheets/scss/responsive.scss
Due: lint-js, lint-css

ensure user is actually a member of a course when sending notifications, fixes #2023
  lib/classes/ModulesNotification.class.php
  lib/cronjobs/send_mail_notifications.class.php
  lib/models/CourseMemberNotification.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

only remove the notifications for one course not for all, fixes #2024
  lib/models/CourseMember.class.php
Due: test-unit, test-functional, test-jsonapi

fix #2142
  lib/models/Courseware/Unit.php
Due: test-unit, test-functional, test-jsonapi

Resolve "OER-Campus: Flyout für Suchfilter ist kaputt"
  resources/assets/stylesheets/mixins/arrow.scss
Due: lint-css

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
