Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*

don't assign by reference, declare filter variable, fixes #1338
  app/controllers/resources/room_request.php
  app/controllers/studip_controller.php
Due: test-unit, test-functional, test-jsonapi

fix text error in courseware information modal, fixes #1170
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

don't skip DoGarbageCollect() completely when NEWS_DISABLE_GARBAGE_COLLECT is set, fixes #1355
  lib/cronjobs/garbage_collector.class.php
  lib/models/StudipNews.class.php
Due: test-unit, test-functional, test-jsonapi

Update ChangeLog
  ChangeLog
Due: none

update version number
  lib/bootstrap.php
Due: test-unit, test-functional, test-jsonapi

update version number
  VERSION
Due: none

re #1291 - fix initial color setting for pen and text tool
  resources/vue/components/courseware/CoursewareCanvasBlock.vue
Due: lint-js

simplify CSS for fullscreen-toggle and don't move the button around via JS, fixes #1356
  resources/assets/javascripts/bootstrap/fullscreen.js
  resources/assets/javascripts/lib/fullscreen.js
  resources/assets/stylesheets/scss/fullscreen.scss
  templates/layouts/base.php
  templates/shared/fullscreen-toggle.php
  templates/tabs.php
Due: lint-js, lint-css

restore JS handler for "mark all news as read", fixes #1362
  app/controllers/news.php
  lib/modules/NewsWidget.php
  resources/assets/javascripts/bootstrap/startpage.js
Due: lint-js, test-unit, test-functional, test-jsonapi

fixes #1172
  lib/classes/globalsearch/GlobalSearchCourseware.php
Due: test-unit, test-functional, test-jsonapi

fix missing variables, fixes #1337
  app/controllers/course/studygroup.php
Due: none

replace SQL with standard query condition used in Stud.IP 4.x, fixes #249
  db/migrations/1.310_add_seminare_semester_table.php
Due: test-unit, test-functional, test-jsonapi

Resolve #1398 "Performance der Gruppenpläne sehr schlecht"
  lib/models/resources/ResourceRequest.class.php
Due: test-unit, test-functional, test-jsonapi

make public booking plans only visible when RESOURCES_SHOW_PUBLIC_ROOM_PLANS is set, fixes #143
  app/controllers/resources/export.php
  app/controllers/resources/resource.php
  app/controllers/resources/room_planning.php
  app/controllers/room_management/planning.php
  app/routes/Resources.php
  app/views/resources/search/rooms.php
  lib/models/resources/Resource.class.php
  lib/models/resources/Room.class.php
Due: test-unit, test-functional, test-jsonapi

fixes #967
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareRibbon.vue
Due: lint-js, lint-css

fix #1058
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareAudioBlock.vue
  resources/vue/components/courseware/CoursewareFolderChooser.vue
Due: lint-js, lint-css

Biest 1170 remove duplicates, fixes #1170
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fixes #1171 and #1169
  app/controllers/contents/courseware.php
  app/controllers/course/courseware.php
  app/views/course/courseware/action_widget.php
  app/views/course/courseware/export_widget.php
  app/views/course/courseware/view_widget.php
  lib/classes/sidebar/VueWidget.php
  resources/vue/base-components.js
  resources/vue/components/SidebarWidget.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareExportWidget.vue
  resources/vue/components/courseware/CoursewareRibbon.vue
  resources/vue/components/courseware/CoursewareViewWidget.vue
  resources/vue/components/courseware/IndexApp.vue
  templates/widgets/vue-widget.php
Due: lint-js, test-unit, test-functional, test-jsonapi

BIEST #723
  lib/models/Courseware/BlockTypes/BlockType.php
  lib/models/Courseware/BlockTypes/DialogCards.php
  lib/models/Courseware/StructuralElement.php
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  templates/courseware/block_types/audio.php
  templates/courseware/block_types/before_after.php
  templates/courseware/block_types/canvas.php
  templates/courseware/block_types/chart.php
  templates/courseware/block_types/code.php
  templates/courseware/block_types/confirm.php
  templates/courseware/block_types/date.php
  templates/courseware/block_types/default.php
  templates/courseware/block_types/dialog_cards.php
  templates/courseware/block_types/document.php
  templates/courseware/block_types/download.php
  templates/courseware/block_types/folder.php
  templates/courseware/block_types/gallery.php
  templates/courseware/block_types/headline.php
  templates/courseware/block_types/iframe.php
  templates/courseware/block_types/image_map.php
  templates/courseware/block_types/key_point.php
  templates/courseware/block_types/link.php
  templates/courseware/block_types/table_of_contents.php
  templates/courseware/block_types/text.php
  templates/courseware/block_types/typewriter.php
  templates/courseware/block_types/video.php
  templates/courseware/container_types/accordion_container.php
  templates/courseware/container_types/list_container.php
  templates/courseware/container_types/tabs_container.php
Due: lint-js, test-unit, test-functional, test-jsonapi

fix #1144
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsCreate.php
  lib/models/Courseware/StructuralElement.php
Due: test-unit, test-functional, test-jsonapi

fix #1406
  resources/vue/components/courseware/CoursewareContentBookmarks.vue
Due: lint-js

fix #900
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareRibbon.vue
  resources/vue/components/courseware/CoursewareRibbonToolbar.vue
  resources/vue/components/courseware/CoursewareToolsBlockadder.vue
Due: lint-js, lint-css

Biest #1375
  resources/assets/stylesheets/scss/blockquote.scss
  resources/assets/stylesheets/scss/blubber.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

also drop "font-size: smaller" from print CSS, fixes #1409
  resources/assets/stylesheets/print.less
Due: lint-css

replace old icon, closes #1369
  lib/classes/calendar/CalendarScheduleModel.php
  public/assets/images/virtual.png
  resources/assets/stylesheets/less/schedule.less
Due: lint-css, test-unit, test-functional, test-jsonapi

disable opcache (for this request) when updating plugin, fixes #569
  lib/classes/PluginAdministration.php
Due: test-unit, test-functional, test-jsonapi

fix PHP warnings (see also !450), fixes #1346
  lib/extern/modules/ExternModuleTemplateLectures.class.php
  lib/extern/modules/views/ExternSemBrowse.class.php
  lib/extern/modules/views/ExternSemBrowseTable.class.php
Due: test-unit, test-functional, test-jsonapi

fix permission check, fixes #1349
  app/controllers/course/members.php
Due: none

don't render link text in action-menu-single mode, fixes #1404
  lib/classes/MultiPersonSearch.class.php
  templates/shared/action-menu-single.php
Due: test-unit, test-functional, test-jsonapi

don't try to reimplement orderBy() in a broken way, fixes #1410
  lib/models/Statusgruppen.php
Due: test-unit, test-functional, test-jsonapi

fix handling of empty parts in get_route(), closes #1396
  lib/functions.php
Due: test-unit, test-functional, test-jsonapi

prevent php-errors, closes #1339
  app/controllers/resources/room_planning.php
Due: none

fix !628 #1061
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

Revert "fix !628 #1061"
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fixes !628 #1061
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fixed storing of WYSIWYG text as HTML, closes #1178
  lib/classes/forms/I18n_formattedInput.php
Due: test-unit, test-functional, test-jsonapi

StEP000365 - add aria-label
  resources/vue/components/courseware/CoursewareSearchWidget.vue
Due: lint-js

Resolve "Raumplanung: Sortierung der Raumanfragen funktioniert nicht"
  app/controllers/resources/room_request.php
  app/views/resources/room_request/overview.php
  resources/assets/javascripts/bootstrap/resources.js
Due: lint-js

switch resource locking to check the booking interval, fixes #1350 and #185
  app/controllers/resources/admin.php
  app/routes/Resources.php
  app/views/resources/admin/global_locks.php
  app/views/resources/admin/user_permissions.php
  lib/models/resources/GlobalResourceLock.class.php
  lib/models/resources/Resource.class.php
  lib/models/resources/ResourceBooking.class.php
  lib/raumzeit/SingleDate.class.php
  lib/resources/ResourceManager.class.php
Due: test-unit, test-functional, test-jsonapi

Revert "re #852 re #1204"
  app/controllers/file.php
  app/views/file/suggest_oer.php
  resources/assets/stylesheets/less/files.less
Due: lint-css
