Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

respect configuration in studycourses, fixes #1648
  app/controllers/consultation/admin.php
Due: none

fix conditions and align views, fixes #1641
  app/views/consultation/admin/index.php
  app/views/consultation/admin/ungrouped.php
Due: none

replace call to restapi with calls to jsonapi and remove restapi routes for consultations, fixes #1642
  app/routes/Consultations.php
  lib/classes/restapi/Router.php
  resources/assets/javascripts/bootstrap/consultations.js
Due: lint-js, test-unit, test-functional, test-jsonapi

add docblocks, closes #1649
  app/views/activityfeed/configuration.php
  app/views/start/_widget.php
  app/views/start/add.php
  app/views/start/edit_defaults.php
  app/views/start/edit_mail_address.php
  app/views/start/index.php
  app/views/study_area/tree.php
  app/views/studygroup/browse.php
  app/views/terms/index.php
  app/views/tfa/index.php
  app/views/tfa/setup.php
  app/views/tour/admin_conflicts.php
  app/views/tour/admin_details.php
  app/views/tour/admin_overview.php
  app/views/tour/edit_step.php
  app/views/tour/import.php
  app/views/web_migrate/index.php
  app/views/wiki/change_courseperms.php
  app/views/wiki/change_page_config.php
  app/views/wiki/create.php
  app/views/wiki/import.php
  app/views/wiki/info.php
Due: none

make semester and semtype condition optional, fixes #145
  app/controllers/course/members.php
  app/controllers/wiki.php
  lib/classes/searchtypes/MyCoursesSearch.class.php
Due: test-unit, test-functional, test-jsonapi

fix for BIESt 1127, closes #1127
  app/controllers/lvgruppen/lvgruppen.php
  app/controllers/materialien/files.php
  app/controllers/module/institute.php
  app/controllers/module/module.php
  app/controllers/module/mvv_controller.php
  app/controllers/shared/contacts.php
  app/controllers/studiengaenge/fachbereiche.php
  app/controllers/studiengaenge/fachbereichestgteile.php
  app/controllers/studiengaenge/faecher.php
  app/controllers/studiengaenge/shared_version.php
  app/controllers/studiengaenge/stgteilbezeichnungen.php
  app/controllers/studiengaenge/studiengaenge.php
  app/controllers/studiengaenge/versionen.php
  app/views/fachabschluss/abschluesse/index.php
  app/views/fachabschluss/kategorien/index.php
  app/views/module/module/modul.php
  app/views/module/module/module.php
  app/views/shared/chooser.php
  app/views/shared/chooser_form.php
  app/views/shared/contacts/details.php
  app/views/shared/contacts/index.php
  app/views/shared/filter.php
  app/views/studiengaenge/studiengaenge/studiengaenge.php
  app/views/studiengaenge/studiengangteile/details_grouped.php
  app/views/studiengaenge/studiengangteile/index.php
  app/views/studiengaenge/versionen/abschnitte.php
  app/views/studiengaenge/versionen/details_abschnitt.php
  app/views/studiengaenge/versionen/index.php
  app/views/studiengaenge/versionen/versionen.php
  lib/classes/MvvPerm.php
  lib/models/DatafieldEntryModel.class.php
  lib/models/Lvgruppe.php
  lib/models/Modul.php
  lib/models/ModuleManagementModelTreeItem.php
  lib/models/MvvFile.php
Due: test-unit, test-functional, test-jsonapi

adjust config.platform.php version to 7.2.5 so that we do not run into conflicts when installing another package, re #1569
  composer.json
Due: test-unit, test-functional, test-jsonapi

adjust minimal node.js version, fixes #1662
  docker/Readme.md
  docker/studip/Dockerfile
  docker/tests/php72/Dockerfile
  docker/tests/php74/Dockerfile
  package.json
Due: none

Benachrichtigungen, wenn `webpack-watch` Fehler zeigt
  package-lock.json
  package.json
  webpack.dev.js
Due: none

set json content type in error handler, fixes #1659
  lib/classes/JsonApi/Errors/ErrorHandler.php
Due: test-unit, test-functional, test-jsonapi

change default value of configuration MY_INSTITUTES_DEFAULT to all, fixes #1656
  app/controllers/admin/courses.php
  db/migrations/5.1.35_set_configuration_my_institutes_default_to_all.php
Due: test-unit, test-functional, test-jsonapi

remove configuration MY_COURSES_ALLOW_TILED_DISPLAY, fixes #1654
  app/controllers/my_courses.php
  db/migrations/5.3.4_remove_allow_tiled_display_configuration.php
  resources/vue/components/MyCourses.vue
  resources/vue/store/MyCoursesStore.js
Due: lint-js, test-unit, test-functional, test-jsonapi

remove dev server, fixes #1608
  Makefile
  config/webpack.dev-server.config.json
  lib/bootstrap.php
  package-lock.json
  package.json
  webpack.dev-server.js
Due: test-unit, test-functional, test-jsonapi

Resolve #1666 "Ankündigungen: SQL Fehler bei der Suche nach weiteren Bereichen"
  lib/classes/forms/NewsRangesInput.php
Due: test-unit, test-functional, test-jsonapi

fixed exception in case no blubber streams could be found, closes #864
  app/controllers/blubber.php
  app/views/blubber/index.php
Due: none

explicitly compare to the empty string, fixes #1669
  lib/models/Abschluss.php
Due: test-unit, test-functional, test-jsonapi

fix usage of phpCAS::proxy(), re #1573
  app/controllers/cas.php
  lib/classes/auth_plugins/StudipAuthCAS.class.php
  lib/classes/cas/CAS_PGTStorage_Cache.php
Due: test-unit, test-functional, test-jsonapi

fix typo and remove variable settings at all since it will not be used in the partial, fixes #1673
  app/views/messages/overview.php
Due: none

implement JsonSerializable for I18NString, fixes #1672
  lib/classes/I18NString.php
Due: test-unit, test-functional, test-jsonapi

ensure correct array encoding, fixes #1668
  app/controllers/my_courses.php
Due: none

fix regression in migration, re #1642
  db/migrations/1.308_consultation_extension.php
Due: test-unit, test-functional, test-jsonapi

fix some warnings, fixes #1675
  lib/classes/Avatar.class.php
  lib/classes/MyRealmModel.php
  lib/navigation/Navigation.php
Due: test-unit, test-functional, test-jsonapi

fix #1575
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

restore language after call to json api, fixes #1680
  lib/classes/JsonApi/Middlewares/Language.php
Due: test-unit, test-functional, test-jsonapi

count in SQL, not in PHP, fixes #1677
  app/controllers/admin/domain.php
  app/views/admin/domain/index.php
  lib/models/UserDomain.php
Due: test-unit, test-functional, test-jsonapi

use innerHeight instead outerHeight, closes #1689
  resources/vue/components/StudipDialog.vue
Due: lint-js

Resolve #1688 "Fatal Error im bootstrap mit PHP 8.1"
  lib/bootstrap.php
  lib/phplib/Seminar_Auth.class.php
  lib/phplib/Seminar_Session.class.php
  tests/functional/_bootstrap.php
Due: test-unit, test-functional, test-jsonapi

set default config, closes #1691
  config/config_defaults.inc.php
Due: none

Resolve unselect last study area if at least one lv group is assigned, re #1681
  app/controllers/course/study_areas.php
  app/views/course/study_areas/show.php
Due: none

get language from accept header only if no valid is started, fixes #1680, fixes #1394
  lib/classes/JsonApi/Middlewares/Language.php
  lib/classes/JsonApi/middleware.php
  lib/language.inc.php
Due: test-unit, test-functional, test-jsonapi

refine copy-link-message, closes #486
  resources/assets/javascripts/bootstrap/copyable_links.js
  resources/assets/stylesheets/scss/copyable-links.scss
Due: lint-js, lint-css

import less, closes #1693
  resources/assets/stylesheets/studip.less
Due: lint-css

fix for BIESt 109, closes #109
  resources/assets/javascripts/bootstrap/studip_helper_attributes.js
  resources/assets/javascripts/lib/gettext.js
  resources/assets/javascripts/lib/personal_notifications.js
  resources/assets/stylesheets/scss/personal-notifications.scss
  templates/header.php
  templates/personal_notifications/notification.php
Due: lint-js, lint-css

Resolve "Styling des Sidebar-Suchwidgets an das Erscheinungsbild der globalen Suche anpassen"
  app/views/search/globalsearch/index.php
  lib/classes/sidebar/SearchWidget.php
  resources/assets/stylesheets/scss/search.scss
  resources/assets/stylesheets/scss/sidebar.scss
  resources/vue/components/courseware/CoursewareSearchWidget.vue
  templates/sidebar/search-widget.php
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Biest #1259
  resources/vue/store/courseware/courseware.module.js
Due: lint-js

ResourceRequest::buildResourceAndTimeRangesSqlQuery: use CAST for termine.date before substracting resource_requests.preparation_time, fixes #1700
  lib/models/resources/ResourceRequest.class.php
Due: test-unit, test-functional, test-jsonapi

fix #1690
  package-lock.json
  package.json
  resources/assets/javascripts/chunks/wysiwyg.js
  resources/assets/javascripts/lib/wysiwyg.js
  resources/assets/stylesheets/studip-cke-ui.css
Due: lint-js, lint-css

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
