Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

Resolve "Bug im Fragebogen-Editor erlaubt keine Plugins"
  resources/assets/javascripts/lib/questionnaire.js
Due: lint-js

fix #1940
  resources/vue/components/courseware/CoursewareDocumentBlock.vue
Due: lint-js

CW - More accurate unordered blocks checker
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
  resources/vue/mixins/courseware/container.js
Due: lint-js

fix #1919
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js, lint-css

fix #1826
  resources/vue/components/courseware/CoursewareRibbon.vue
Due: lint-js

fix #1958
  templates/courseware/block_types/dialog_cards.php
Due: none

fix textstrings according to review. refs #1645
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareListContainer.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
  resources/vue/components/courseware/CoursewareTree.vue
  resources/vue/components/courseware/CoursewareTreeItem.vue
Due: lint-js

fix #1969
  resources/assets/stylesheets/scss/courseware.scss
Due: lint-css

Resolve "Release Notes 5.3"
  RELEASE-NOTES.md
Due: none

Resolve "Evaluationen bleiben angeschaltet"
  db/migrations/5.3.14_revamp_questionnaires.php
Due: test-unit, test-functional, test-jsonapi

fix tooltip position, fixes #1984
  resources/assets/stylesheets/studip.scss
Due: lint-css

resurrect missing RESOURCES_ENABLE_BOOKINGSTATUS_COLORING configuration, fixes #1983
  db/migrations/5.1.38_resurrect_resources_enable_bookingstatus_coloring_configuration.php
Due: test-unit, test-functional, test-jsonapi

remove RESOURCES_ENABLE_EXPERT_SCHEDULE_VIEW for good, fixes #1985
  db/migrations/5.1.39_remove_resources_enable_expert_schedule_view_configuration.php
  lib/models/CourseDate.class.php
  lib/raumzeit/CycleDataDB.class.php
  lib/raumzeit/MetaDate.class.php
  lib/raumzeit/SingleDate.class.php
Due: test-unit, test-functional, test-jsonapi

make function static as it should be, fixes #1986
  lib/models/CourseMember.class.php
Due: test-unit, test-functional, test-jsonapi

make other functions static as well, re #1986
  lib/models/CourseMember.class.php
Due: test-unit, test-functional, test-jsonapi

set size of icon in action menus only via css, fixes #1953
  lib/classes/ActionMenu.php
  resources/assets/stylesheets/scss/actionmenu.scss
  templates/shared/action-menu-single.php
  templates/shared/action-menu.php
Due: lint-css, test-unit, test-functional, test-jsonapi

fix property access in ActionMenu::addLink(), fixes #1989
  lib/classes/ActionMenu.php
Due: test-unit, test-functional, test-jsonapi

fix #1988
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareRibbon.vue
Due: lint-js, lint-css

fix #1992
  resources/vue/components/courseware/CoursewareUnitItems.vue
Due: lint-js

fix #1991
  lib/classes/JsonApi/Routes/Courseware/Authority.php
  lib/classes/JsonApi/Schemas/Courseware/Task.php
  resources/vue/components/courseware/CoursewareDashboardStudents.vue
  resources/vue/components/courseware/CoursewareDashboardTasks.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

fix #1987
  resources/assets/stylesheets/scss/courseware.scss
Due: lint-css

fix #1609
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fix #1978
  resources/vue/components/courseware/CoursewareDocumentBlock.vue
Due: lint-js

check all valid include paths, fixes #2003
  lib/classes/JsonApi/Schemas/SchemaProvider.php
Due: test-unit, test-functional, test-jsonapi

fix display, fixes #2002
  resources/vue/components/EditableList.vue
Due: lint-js

Add aria-label to task wizard
  resources/vue/components/courseware/CoursewareTasksDialogDistribute.vue
Due: lint-js

fixes #2005
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

use first found sem class or default sem class instead of relying on a sem class with id 1, fixes #2006
  lib/classes/MyRealmModel.php
Due: test-unit, test-functional, test-jsonapi

ensure we have a valid context id, fixes #1576
  app/controllers/course/studygroup.php
Due: none

allow redefining the variables in the studip.scss mixin when including it via @use, fixes #2010
  resources/assets/stylesheets/mixins.scss
Due: lint-css

ensure that all ranges a news can be linked to are presented to the user and...
  lib/classes/forms/NewsRangesInput.php
Due: test-unit, test-functional, test-jsonapi

change execution order to ensure the id for storing i18n contents is valid, fixes #1990
  lib/models/SimpleORMap.class.php
Due: test-unit, test-functional, test-jsonapi

fix #1722
  app/controllers/contents/courseware.php
  app/controllers/course/courseware.php
  app/controllers/courseware_controller.php
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareShelfActionWidget.vue
  resources/vue/components/courseware/CoursewareTasksActionWidget.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

Resolve "Keine Anzeige von zugangsbeschränkten Veranstaltungen in der Datei- und Aktivitätsübersicht"
  app/controllers/admin/user.php
Due: none

reorder code to ensure a correct order of callback execution, re #1990
  lib/models/SimpleORMap.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve #2012 "Ilias Schnittstelle: Anlengen von Lernobjekten von Stud.IP nicht möglich"
  app/views/admin/ilias_interface/edit_server.php
  app/views/my_ilias_accounts/add_object.php
  app/views/my_ilias_accounts/index.php
Due: none

prevent error, fixes #2026
  lib/classes/ForumAbo.php
Due: test-unit, test-functional, test-jsonapi

don't treat user_id as array, remove duplicate check, fixes #2031
  app/controllers/course/members.php
Due: none

Use the same DI container both system-wide and in the JSONAPI.
  lib/classes/DIContainer.php
  public/jsonapi.php
Due: test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
