Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*

optimize performance of query from GlobalSearchCourses::getSQL(), fixes #1561
  lib/classes/globalsearch/GlobalSearchCourses.php
Due: test-unit, test-functional, test-jsonapi

Revert "optimize performance of query from GlobalSearchCourses::getSQL(), re #1561"
  lib/classes/globalsearch/GlobalSearchCourses.php
Due: test-unit, test-functional, test-jsonapi

ensure correct return type, fixes #1548
  lib/models/AuxLockRule.php
Due: test-unit, test-functional, test-jsonapi

Biest 1292
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
Due: lint-js

Biest #1413
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareManagerElement.vue
Due: lint-js, lint-css

do not allow editing the booking style, re #549
  app/views/resources/booking/_add_edit_form.php
  resources/assets/javascripts/bootstrap/resources.js
Due: lint-js

recreate composer.lock by deleting it and running 'composer install', fixes #1569
  composer.lock
Due: none

add language middleware that sets the system's language from a given...
  composer.json
  composer.lock
  lib/classes/JsonApi/Middlewares/Language.php
  lib/classes/JsonApi/middleware.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Fehlender globaler Schalter für das Abschalten der Courseware (veranstaltungsunabhängig)"
  lib/classes/JsonApi/RouteMap.php
  lib/navigation/AdminNavigation.php
  lib/navigation/ContentsNavigation.php
  lib/navigation/StartNavigation.php
Due: test-unit, test-functional, test-jsonapi

Resolve #1570 "Courseware lädt nicht mehr : 500 Class 'JsonApi\PluginManager' not found"
  lib/classes/JsonApi/RouteMap.php
Due: test-unit, test-functional, test-jsonapi

fix #1571
  resources/assets/stylesheets/scss/courseware.scss
Due: lint-css

remove headline from tables, closes #1462
  app/views/resources/room_group/permissions.php
Due: none

update phpCAS API usage for phpCAS 1.5.0, fixes #1573
  app/controllers/cas.php
  lib/classes/auth_plugins/StudipAuthCAS.class.php
Due: test-unit, test-functional, test-jsonapi

fix integration of scss php compiler, fixes #1574
  lib/classes/assets/SASSCompiler.php
Due: test-unit, test-functional, test-jsonapi

ensure that all libs from composer are compatible with php 7.2 and enforce 7.2 by settings config.platform.php to 7.2, fixes #1569
  composer.json
  composer.lock
Due: test-unit, test-functional, test-jsonapi

allow disabling of notifications for institute blubber threads, fixes #1021
  lib/models/BlubberThread.php
  resources/vue/components/BlubberThread.vue
  templates/blubber/course_context.php
  templates/blubber/disable-notifications.php
  templates/blubber/institute_context.php
Due: lint-js, test-unit, test-functional, test-jsonapi

restore a11yhelp_action(), fixes #1578
  app/controllers/wysiwyg.php
Due: none

Un-hack the customization of CKE5, refs #1513
  resources/assets/javascripts/chunks/wysiwyg.js
  resources/assets/javascripts/cke/StudipUpload.js
  resources/assets/javascripts/cke/studip-quote/StudipBlockQuote.js
  resources/assets/javascripts/lib/wysiwyg.js
  templates/wiki/edit.php
Due: lint-js

don't lose info that the user does not want to see the migration nag screen anymore, fixes #1566
  lib/seminar_open.php
Due: test-unit, test-functional, test-jsonapi

partly fix broken SQL queries, re #1579
  app/controllers/course/overview.php
  lib/classes/I18NStringDatafield.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

adjust query for institutes to reflect opting out of blubber notifications, fixes #1587
  lib/models/BlubberThread.php
Due: test-unit, test-functional, test-jsonapi

Resolve #1588 "datafields collection an SORM Objekte ist immer leer"
  lib/models/SimpleORMap.class.php
Due: test-unit, test-functional, test-jsonapi

add hidden button to start search on Enter , fixes #1441
  templates/sidebar/room-search-widget.php
Due: none

fix broken redirect, fixes #1549
  app/controllers/course/forum/index.php
Due: none

remove SORM config from object instances, re #1473
  lib/classes/restapi/consumer/OAuth.php
  lib/models/CourseDate.class.php
  lib/models/FileRef.php
  lib/models/ModuleManagementModel.php
  lib/models/Semester.class.php
  lib/models/SimpleORMap.class.php
  lib/models/StudiengangStgteil.php
  lib/models/User.class.php
  tests/unit/lib/classes/SimpleOrMapNodbTest.php
Due: test-unit, test-functional, test-jsonapi

use class configuration instead of `$this->relationTypes`, re #1473
  lib/models/eTask/Task.php
  lib/models/eTask/Test.php
Due: test-unit, test-functional, test-jsonapi

also enable select2 for select with optgroup, fixes #1592
  resources/assets/javascripts/bootstrap/forms.js
Due: lint-js

fix for BIESt 243, re #243
  app/controllers/resources/room_request.php
  app/views/resources/room_request/resolve.php
  lib/classes/Seminar.class.php
  lib/models/resources/ResourceRequest.class.php
  lib/raumzeit/CycleDataDB.class.php
  templates/dates/seminar_html_roomplanning.php
Due: test-unit, test-functional, test-jsonapi

allow access if ENABLE_REQUEST_NEW_PASSWORD_BY_USER is false, fixes #513
  app/controllers/new_password.php
Due: none

fix #874
  lib/classes/JsonApi/Routes/Files/FileRefsCreateByUpload.php
  lib/classes/JsonApi/Schemas/ContentTermsOfUse.php
  lib/models/Courseware/BlockTypes/Folder.php
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareAudioBlock.vue
  resources/vue/components/courseware/CoursewareCanvasBlock.vue
  resources/vue/components/courseware/CoursewareDownloadBlock.vue
  resources/vue/components/courseware/CoursewareFolderBlock.vue
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

fix #1585
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fix #1584
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsCreate.php
Due: test-unit, test-functional, test-jsonapi

Biest #1157
  resources/assets/stylesheets/scss/variables.scss
  resources/assets/stylesheets/studip-cke-ui.css
Due: lint-css

Biest #994
  resources/vue/courseware-dashboard-app.js
  resources/vue/courseware-index-app.js
  resources/vue/courseware-manager-app.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js

fix #1522
  resources/assets/javascripts/chunks/wysiwyg.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiFood.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiNature.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiObjects.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiPeople.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiSport.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiSymbols.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersEmojiTraffic.js
  resources/assets/javascripts/cke/special_characters/SpecialCharactersSmiley.js
  resources/assets/stylesheets/studip-cke-ui.css
Due: lint-js, lint-css

add `@allow_nobody` to `@get /semester/:timestamp/week`, fixes #1598
  app/routes/Semester.php
Due: none

fix #1454
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareBlockEdit.vue
  resources/vue/components/courseware/CoursewareListContainer.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
Due: lint-js

remove translations after config value was removed, fixes #1597
  lib/models/ConfigValue.php
Due: test-unit, test-functional, test-jsonapi

StEP00362: Rechte- und Zugriffsverwaltung für Arbeitsplatz > Lernmaterialien
  app/controllers/contents/courseware.php
  app/controllers/multipersonsearch.php
  app/views/contents/courseware/shared_content_courseware.php
  lib/classes/JsonApi/RouteMap.php
  lib/classes/JsonApi/Routes/Courseware/Authority.php
  lib/classes/JsonApi/Routes/Courseware/CoursewareInstancesHelper.php
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsReleasedIndex.php
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsSharedIndex.php
  lib/models/Courseware/StructuralElement.php
  lib/navigation/ContentsNavigation.php
  resources/assets/javascripts/bootstrap/courseware.js
  resources/assets/stylesheets/scss/courseware.scss
  resources/assets/stylesheets/scss/multi_person_search.scss
  resources/assets/stylesheets/studip.scss
  resources/vue/base-components.js
  resources/vue/components/StudipIcon.vue
  resources/vue/components/StudipMultiPersonSearch.vue
  resources/vue/components/courseware/ContentOverviewApp.vue
  resources/vue/components/courseware/ContentReleasesApp.vue
  resources/vue/components/courseware/CoursewareContentOverviewElements.vue
  resources/vue/components/courseware/CoursewareContentOverviewFilterWidget.vue
  resources/vue/components/courseware/CoursewareContentPermissions.vue
  resources/vue/components/courseware/CoursewareContentShared.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTreeItem.vue
  resources/vue/courseware-content-overview-app.js
  resources/vue/courseware-content-releases-app.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi
