Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*

make class ContentModule and method readData abstract (and fix constructor...
  lib/elearning/ContentModule.class.php
  lib/elearning/Ilias3ContentModule.class.php
  lib/elearning/LonCapaContentModule.class.php
  lib/elearning/PmWikiContentModule.class.php
Due: test-unit, test-functional, test-jsonapi

oer campus: made search form a polite live region, closes #1246
  app/views/oer/market/index.php
Due: none

added missing $real_begin to ResourceBooking::validate, fixes #1221
  lib/models/resources/ResourceBooking.class.php
Due: test-unit, test-functional, test-jsonapi

fix errors in jsonapi code, fixes #1228
  lib/classes/JsonApi/Routes/Blubber/FilterTrait.php
  lib/classes/JsonApi/Routes/CourseMemberships/CourseMembershipsUpdate.php
  lib/classes/JsonApi/Routes/Courses/CoursesMembershipsIndex.php
  lib/classes/JsonApi/Routes/Courses/Rel/Memberships.php
  lib/classes/JsonApi/Routes/Courseware/Authority.php
  lib/classes/JsonApi/Routes/Courseware/ContainersUpdate.php
  lib/classes/JsonApi/Routes/Courseware/Rel/UsersBookmarkedStructuralElements.php
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsImageUpload.php
  lib/classes/JsonApi/Routes/Courseware/TemplatesIndex.php
  lib/classes/JsonApi/Routes/Events/UserEventsIcal.php
  lib/classes/JsonApi/Routes/Files/FileRefsUpdate.php
  lib/classes/JsonApi/Routes/Files/FoldersDelete.php
  lib/classes/JsonApi/Routes/Files/RoutesHelperTrait.php
  lib/classes/JsonApi/Routes/Forum/ForumCategoriesDelete.php
  lib/classes/JsonApi/Routes/Forum/ForumEntriesDelete.php
  lib/classes/JsonApi/Routes/News/ByCurrentUser.php
  lib/classes/JsonApi/Routes/News/ByUserIndex.php
  lib/classes/JsonApi/Routes/News/CommentsIndex.php
  lib/classes/JsonApi/Routes/News/NewsUpdate.php
  lib/classes/JsonApi/Routes/News/Rel/Ranges.php
  lib/classes/JsonApi/Routes/News/StudipNewsDatesHelper.php
  lib/classes/JsonApi/Routes/News/UserNewsCreate.php
  lib/classes/JsonApi/Routes/Wiki/WikiCreate.php
  lib/classes/JsonApi/Routes/Wiki/WikiDelete.php
  lib/classes/JsonApi/Schemas/StudipNews.php
Due: test-unit, test-functional, test-jsonapi

fix for BIESt #1078
  app/controllers/contact.php
  app/controllers/evaluation.php
  app/controllers/profile.php
  app/controllers/profilemodules.php
  app/controllers/settings/details.php
  app/controllers/settings/messaging.php
  app/views/profile/index.php
  app/views/questionnaire/widget.php
  app/views/settings/details.php
  lib/classes/DataFieldEntry.class.php
  lib/classes/Score.class.php
  lib/classes/vCard.php
  lib/classes/visibility/UserPrivacy.php
  lib/classes/visibility/User_Visibility_Settings.php
  lib/models/SimpleORMap.class.php
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

count users correctly and rework code, closes #913
  app/controllers/studiengaenge/informationen.php
  app/views/studiengaenge/informationen/degree.php
  app/views/studiengaenge/informationen/index.php
  app/views/studiengaenge/informationen/showdegree.php
  app/views/studiengaenge/informationen/showstudycourse.php
  lib/models/Degree.class.php
Due: test-unit, test-functional, test-jsonapi

fixes #1156
  resources/vue/components/RangeInput.vue
Due: lint-js

closes #1266
  lib/models/SimpleORMap.class.php
Due: test-unit, test-functional, test-jsonapi

add help keyword, fixes #1258
  app/controllers/course/feedback.php
Due: none

Add PHPStan to Pipeline
  .gitignore
  .gitlab-ci.yml
  composer.json
  composer.lock
  phpstan.neon.dist
Due: test-unit, test-functional, test-jsonapi

fix case of classes, fixes #1263
  lib/classes/ForumBulkMail.php
  lib/evaluation/classes/EvaluationTreeEditView.class.php
  lib/evaluation/evaluation_admin_overview.inc.php
  lib/evaluation/evaluation_admin_overview.lib.php
  lib/filesystem/FilesystemVueDataManager.php
  lib/ilias_interface/IliasSoap.class.php
Due: test-unit, test-functional, test-jsonapi

remove 'lightblue' role, fixes #1268
  resources/vue/components/StudipIcon.vue
Due: lint-js

redirect to selected booking-plan, closes #1255
  app/controllers/resources/booking.php
Due: none

use clipboard-draggable-item only for rooms, closes #1254
  app/views/resources/_common/_resource_tr.php
Due: none

fix search-filter, closes #1023
  lib/classes/sidebar/RoomSearchWidget.class.php
  resources/assets/javascripts/lib/resources.js
  resources/assets/stylesheets/scss/resources.scss
  templates/sidebar/room-search-criteria-templates.php
  templates/sidebar/room-search-criteria.php
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Fix miscellaneous errors, fixes #1276
  app/views/course/wizard/steps/lvgroups/lvgroup_searchentry.php
  composer.json
  lib/admission.inc.php
  lib/admissionrules/coursememberadmission/templates/configure.php
  lib/classes/DbView.class.php
  lib/classes/PageLayout.php
  lib/classes/StudipArrayObject.class.php
  lib/classes/StudipSemTreeViewSimple.class.php
  lib/classes/coursewizardsteps/LVGroupsWizardStep.php
  lib/classes/librarysearch/resultparsers/BASELibraryResultParser.class.php
  lib/classes/librarysearch/resultparsers/MarcxmlLibraryResultParser.class.php
  lib/classes/librarysearch/resultparsers/SRULibraryResultParser.class.php
  lib/dbviews/range_tree.view.php
  lib/dbviews/sem_tree.view.php
  lib/extern/elements/ExternElementLinkInternSimple.class.php
  lib/extern/modules/views/ExternSemLectureTree.class.php
  lib/ilias_interface/IliasSoap.class.php
  lib/modules/CoreForum.class.php
Due: test-unit, test-functional, test-jsonapi

Revert "fix #1060"
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
Due: lint-js

Revert "fix #1044"
  lib/classes/JsonApi/Routes/Courseware/Authority.php
Due: test-unit, test-functional, test-jsonapi

Revert "fix #937"
  lib/classes/JsonApi/Routes/Courseware/Authority.php
Due: test-unit, test-functional, test-jsonapi

Revert "fix #887"
  lib/classes/JsonApi/Routes/Courseware/Authority.php
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareAudioBlock.vue
  resources/vue/components/courseware/CoursewareBeforeAfterBlock.vue
  resources/vue/components/courseware/CoursewareBlockActions.vue
  resources/vue/components/courseware/CoursewareCanvasBlock.vue
  resources/vue/components/courseware/CoursewareChartBlock.vue
  resources/vue/components/courseware/CoursewareCodeBlock.vue
  resources/vue/components/courseware/CoursewareConfirmBlock.vue
  resources/vue/components/courseware/CoursewareContainerActions.vue
  resources/vue/components/courseware/CoursewareDateBlock.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareDialogCardsBlock.vue
  resources/vue/components/courseware/CoursewareDocumentBlock.vue
  resources/vue/components/courseware/CoursewareDownloadBlock.vue
  resources/vue/components/courseware/CoursewareEmbedBlock.vue
  resources/vue/components/courseware/CoursewareEmptyElementBox.vue
  resources/vue/components/courseware/CoursewareFolderBlock.vue
  resources/vue/components/courseware/CoursewareGalleryBlock.vue
  resources/vue/components/courseware/CoursewareHeadlineBlock.vue
  resources/vue/components/courseware/CoursewareIframeBlock.vue
  resources/vue/components/courseware/CoursewareImageMapBlock.vue
  resources/vue/components/courseware/CoursewareKeyPointBlock.vue
  resources/vue/components/courseware/CoursewareLinkBlock.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTableOfContentsBlock.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
  resources/vue/components/courseware/CoursewareTypewriterBlock.vue
  resources/vue/components/courseware/CoursewareVideoBlock.vue
  resources/vue/components/courseware/IndexApp.vue
  resources/vue/components/courseware/block-mixin.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

use own constructor interface for StandardFile, fixes #1280
  lib/filesystem/FileType.php
  lib/filesystem/StandardFile.php
  lib/filesystem/StandardFileInterface.php
  lib/filesystem/UnknownFileType.php
Due: test-unit, test-functional, test-jsonapi

apply suggestion, re #1254
  app/views/resources/_common/_resource_tr.php
Due: none

relocate relevant code from Seminar_Auth to Seminar_Register_Auth, fixes #1275
  lib/phplib/Seminar_Auth.class.php
  lib/phplib/Seminar_Register_Auth.class.php
Due: test-unit, test-functional, test-jsonapi

re #852 re #1204
  app/controllers/file.php
  app/views/file/suggest_oer.php
  resources/assets/stylesheets/less/files.less
Due: lint-css

fix issue in spans with class minor, re #1287
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

change font color, re #1287
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

fix namespace issue, re #1278
  lib/activities/CoursewareContext.php
Due: test-unit, test-functional, test-jsonapi

fix linear order of migrations for 4.4 and 4.5, fixes #1256
  db/migrations/1.262_consultations_option_exclude_expired.php
  db/migrations/1.263_fix_missing_consultation_events.php
  db/migrations/1.264_step_00332_mvv_overlapping_courses.php
  db/migrations/1.265_jsonapi_cors_origin_config.php
  db/migrations/1.266_step_00338_instituteplaning.php
  db/migrations/1.267_config_for_download_counter_display.php
  db/migrations/1.268_add_enable_free_access_for_courses_only.php
  db/migrations/1.269_additional_mvv_tables.php
  db/migrations/1.270_tic8458_add_upload_description.php
  db/migrations/1.271_room_management_migration.php
  db/migrations/1.272_resize_auth_user_md5_email_field.php
  db/migrations/1.273_unrestricted_userdomains.php
  db/migrations/1.274_blubbermessenger.php
  db/migrations/1.275_blubbermessenger_keys.php
  db/migrations/1.276_blubbermessenger_search.php
  db/migrations/1.277_blubbermessenger_flat.php
  db/migrations/1.278_jsonapi_dangerous_routes_config.php
  db/migrations/1.283_change_schedule_color_with_category_index.php
  db/migrations/1.284_fixes_on_schedule_coloring.php
  db/migrations/1.285_add_filetypes.php
  lib/migrations/DBSchemaVersion.php
Due: test-unit, test-functional, test-jsonapi

fix typo in StudipMemoryCache::write(), fixes #1288
  lib/classes/StudipMemoryCache.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve "StEP #837: Barrierefreiheitsprobleme mit I18N-Feldern und dem Hinweis auf Pflichtfelder"
  resources/vue/components/I18nTextarea.vue
  templates/forms/form.php
Due: lint-js

don't set `overflow: auto` on HTML element, fixes #1293
  resources/assets/stylesheets/less/header.less
  resources/assets/stylesheets/scss/wiki.scss
  resources/assets/stylesheets/studip.scss
Due: lint-css

add comment why [v-cloak] is used, fixes #1294
  resources/assets/stylesheets/studip.scss
Due: lint-css

avoid running migration twice, fixes #1265
  db/migrations/5.1.21_missing_indices_v50.php
  db/migrations/5.1.24_biest_348.php
  db/migrations/5.1.27_add_index_to_cw_user_progresses_v50.php
  db/migrations/5.1.29_add_index_resource_booking_intervals.php
  db/migrations/5.1.30_remove_column_termine_topic_id.php
  db/migrations/5.1.33_remove_column_ex_termine_topic_id.php
  lib/migrations/DatabaseMigrationTrait.php
Due: test-unit, test-functional, test-jsonapi

fixed semester in sem export, closes #1296
  app/controllers/admin/courses.php
Due: none

fix errors of type 'Unsafe usage of new static', fixes #1245
  lib/classes/I18N.php
  lib/classes/Interactable.class.php
  lib/classes/LicenseAvatar.php
  lib/classes/MultiDimArrayObject.class.php
  lib/classes/QuestionBox.php
  lib/classes/QuickSearch.class.php
  lib/classes/RangeConfig.class.php
  lib/classes/WidgetContainer.php
  lib/classes/forms/Form.php
  lib/classes/forms/Input.php
  lib/classes/helpbar/Helpbar.php
  lib/classes/sidebar/Sidebar.php
  lib/models/OERDownloadcounter.php
  lib/models/OERHost.php
  lib/models/SimpleORMap.class.php
  lib/models/StudipNews.class.php
  lib/models/Token.php
Due: test-unit, test-functional, test-jsonapi

fix regression, re #1295
  lib/phplib/Seminar_Auth.class.php
Due: test-unit, test-functional, test-jsonapi

fix property access, fixes #1297
  lib/classes/restapi/RouteMap.php
  lib/classes/restapi/Router.php
Due: test-unit, test-functional, test-jsonapi

move sem-week calculation to php, closes #1147
  app/routes/Semester.php
  app/views/resources/room_planning/booking_plan.php
  app/views/resources/room_planning/semester_plan.php
  app/views/resources/room_request/planning.php
  app/views/room_management/planning/index.php
  app/views/room_management/planning/semester_plan.php
  db/migrations/5.2.16_activate_semester_routes.php
  resources/assets/javascripts/lib/fullcalendar.js
  resources/assets/javascripts/lib/resources.js
  resources/assets/stylesheets/less/resources-print.less
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi
