Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

group roles in administration, fixes #1793
  app/controllers/admin/role.php
  app/views/admin/role/assign_plugin_role.php
  app/views/admin/role/assign_role.php
  lib/plugins/db/RolePersistence.class.php
Due: test-unit, test-functional, test-jsonapi

fix tests for consultations, fixes #1794
  tests/jsonapi/ConsultationHelper.php
  tests/jsonapi/ConsultationsBookingCreateBySlotIndexTest.php
  tests/jsonapi/ConsultationsBookingCreateTest.php
Due: test-unit, test-functional, test-jsonapi

Update ChangeLog
  ChangeLog
Due: none

initial set of editor toolbar presets, re #1798
  resources/assets/javascripts/lib/wysiwyg.js
Due: lint-js

remove bogus strip_tags() and always do br2space() after killFormat(), fixes #1801
  lib/classes/ForumEntry.php
Due: test-unit, test-functional, test-jsonapi

implementation of course overview portal widget, fixes #1080
  app/controllers/my_courses.php
  db/migrations/5.3.7_add_my_courses_widget.php
  lib/modules/MyCoursesWidget.php
  templates/start/my_courses.php
Due: test-unit, test-functional, test-jsonapi

implement ContentItemSelectionRequest, fixes #1079
  app/controllers/lti.php
  app/views/lti/content_item.php
  lib/navigation/BrowseNavigation.php
Due: test-unit, test-functional, test-jsonapi

Resolve #1430 "Release 5.2"
  config/config_defaults.inc.php
  db/studip.sql
  db/studip_default_data.sql
  db/studip_demo_data.sql
  db/studip_mvv_demo_data.sql
  db/studip_resources_demo_data.sql
  public/history.txt
Due: test-unit, test-functional, test-jsonapi

CW: Rights pagination
  resources/assets/stylesheets/scss/pagination.scss
  resources/vue/components/StudipPagination.vue
  resources/vue/components/courseware/CoursewareStructuralElementPermissions.vue
Due: lint-js, lint-css

fix typo, closes #1806
  app/controllers/calendar/schedule.php
Due: none

update component data upon prop change, fixes #1809
  resources/vue/components/BlubberThread.vue
Due: lint-js

closes #1674
  app/controllers/file.php
  app/views/file/suggest_oer.php
  lib/filesystem/StandardFile.php
  resources/assets/stylesheets/less/files.less
Due: lint-css, test-unit, test-functional, test-jsonapi

fixes #1810
  app/views/course/members/additional.php
  lib/models/AuxLockRule.php
  resources/assets/stylesheets/scss/forms.scss
Due: lint-css, test-unit, test-functional, test-jsonapi

Resolve "Visuelle Kennzeichnung von barrierefreien Dateien in den Dateibereichen", closes #1540
  app/controllers/admin/accessibility_info_text.php
  app/controllers/file.php
  app/views/admin/accessibility_info_text/index.php
  app/views/file/_file_aside.php
  app/views/file/_terms_of_use_select.php
  app/views/file/edit.php
  app/views/file/edit_license.php
  db/migrations/5.3.8_add_accessibility_field_for_files.php
  lib/filesystem/FileType.php
  lib/filesystem/FilesystemVueDataManager.php
  lib/filesystem/StandardFile.php
  lib/filesystem/UnknownFileType.php
  lib/models/FileRef.php
  lib/navigation/AdminNavigation.php
  public/assets/images/icons/black/accessibility.svg
  resources/vue/components/FilesTable.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

rework aux lock rules, use sorm model, deprecate old class and let name and description be translatable, fixes #1791
  app/controllers/admin/courses.php
  app/controllers/admin/specification.php
  app/controllers/authenticated_controller.php
  app/controllers/consultation/consultation_controller.php
  app/controllers/course/members.php
  app/controllers/course/overview.php
  app/views/admin/courses/aux-select.php
  app/views/admin/courses/aux_preselect.php
  app/views/admin/specification/_field.php
  app/views/admin/specification/edit.php
  app/views/admin/specification/index.php
  app/views/course/members/additional_input.php
  db/migrations/5.3.9_convert_aux_lock_rules_json_fields.php
  lib/classes/AuxLockRules.class.php
  lib/classes/Markup.class.php
  lib/classes/StudipArrayObject.class.php
  lib/classes/WidgetContainer.php
  lib/models/AuxLockRule.php
  lib/models/DatafieldEntryModel.class.php
  templates/i18n/input.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Virencheck beim Dateiupload"
  db/migrations/5.3.10_viruscheck_for_uploads.php
  lib/classes/Virusscanner.php
  lib/filesystem/FileManager.php
Due: test-unit, test-functional, test-jsonapi

fixes #1658
  lib/classes/Virusscanner.php
Due: test-unit, test-functional, test-jsonapi

fixes #1811
  app/views/oer/market/index.php
  resources/assets/javascripts/lib/oer.js
Due: lint-js

don't nuke focus on dialog open, fixes #1816
  resources/assets/javascripts/bootstrap/forms.js
Due: lint-js

fix focus handling for table.collapsable and delete unused file, fixes #386
  app/views/course/members/add_member.php
  app/views/my_courses/groups.php
  resources/assets/javascripts/bootstrap/application.js
Due: lint-js

prevent deprecated warning, fixes #1818
  lib/models/StatusgruppeUser.php
Due: test-unit, test-functional, test-jsonapi

ensure only valid User objects are passed as responsible persons, fixes #1821
  lib/models/ConsultationBlock.php
Due: test-unit, test-functional, test-jsonapi

footer style for formbuilder forms, fixes #1820
  resources/assets/stylesheets/scss/forms.scss
  templates/forms/form.php
Due: lint-css

fixed form builder buttons from BIESt 1820, closes #1822
  resources/assets/stylesheets/scss/forms.scss
  templates/forms/form.php
Due: lint-css

set correct header-height, closes #1823
  resources/assets/stylesheets/scss/variables.scss
Due: lint-css

Resolve "mvv_assignments bzw. mvv_contacts kann nicht nach priority sortiert werden"
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

fix #1631
  resources/vue/components/courseware/CoursewareHeadlineBlock.vue
Due: lint-js

fix #1630
  resources/assets/stylesheets/scss/courseware.scss
Due: lint-css

add lost filter rule, fixes #1828
  resources/assets/stylesheets/scss/navigation.scss
Due: lint-css

compare file extension case insensitively, fixes #1827
  app/controllers/admin/loginstyle.php
Due: none

Resolve #1831 "Individuelle Raumgruppen werden unsortiert angezeigt"
  lib/models/Clipboard.class.php
  templates/sidebar/clipboard-area.php
Due: test-unit, test-functional, test-jsonapi

describe priority, fixes #1832
  app/controllers/news.php
Due: none

CKEditor: Eingefügte Bilder in der Größe verändern
  resources/assets/javascripts/chunks/wysiwyg.js
Due: lint-js

fixes #1815
  app/controllers/consultation/admin.php
  app/views/consultation/admin/block-responsibilities.php
  app/views/consultation/admin/create.php
  lib/models/ConsultationBlock.php
Due: test-unit, test-functional, test-jsonapi

add migration that changes the type of resource_property_definitions.type to ENUM, fixes #1796
  db/migrations/5.1.36_change_type_of_resource_property_definitions_type.php
Due: test-unit, test-functional, test-jsonapi

closes #1839
  app/views/resources/_common/_special_permission_table.php
  app/views/resources/room_group/permissions.php
Due: none

rename release and archives, re #1842
  .gitlab-ci.yml
Due: none

rename variable, re #1842
  .gitlab-ci.yml
Due: none

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
