Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

try to improve perfomance on room-administration, refs #357
  app/views/resources/_common/_action_menu.php
  app/views/room_management/overview/rooms.php
Due: none

avoid redundant OER Campus sharing/suggesting action, re #1204
  lib/filesystem/StandardFile.php
Due: test-unit, test-functional, test-jsonapi

Revert "Biest #1375"
  resources/assets/stylesheets/scss/blockquote.scss
  resources/assets/stylesheets/scss/blubber.scss
  resources/assets/stylesheets/studip.less
  resources/assets/stylesheets/studip.scss
Due: lint-css

fix order during copy, don't use self to access methods on $this, fixes #1361
  lib/models/Courseware/Container.php
  lib/models/Courseware/StructuralElement.php
Due: test-unit, test-functional, test-jsonapi

fix for #1365
  app/views/oer/market/details.php
  app/views/oer/mymaterial/edit.php
  resources/assets/stylesheets/scss/oer.scss
Due: lint-css

fix for #1385
  app/views/oer/market/_material_short.php
  app/views/oer/mymaterial/edit.php
  resources/assets/stylesheets/scss/oer.scss
Due: lint-css

fix sorting, refs #358
  app/controllers/resources/room.php
Due: none

black font color, fixes #1373
  resources/assets/stylesheets/studip.less
Due: lint-css

black font color, fixes #1367
  resources/assets/stylesheets/less/index.less
Due: lint-css

footer hover color, fixes #1379
  resources/assets/stylesheets/less/header.less
Due: lint-css

white hover color, fixes #1380
  resources/assets/stylesheets/less/helpbar.less
Due: lint-css

blubber font colors, fixes #1383
  resources/assets/stylesheets/scss/blubber.scss
Due: lint-css

completely replace JS URLHelper implementation, fixes #1395
  resources/assets/javascripts/lib/url_helper.js
  templates/start/_jstemplates.php
Due: lint-js

do not remove assigned course dates when bulk-updating course groups, closes #1427
  app/controllers/course/statusgroups.php
  lib/models/Statusgruppen.php
Due: test-unit, test-functional, test-jsonapi

delete unmaintained qunit tests, fixes #1433
  test/qunit/index.html
  test/qunit/lib/qunit.css
  test/qunit/lib/qunit.js
  test/qunit/markuptoolbar.js
  test/qunit/setup.js
  test/qunit/urlhelper.js
Due: none

show course details for booking on the same conditions like in the booking plan, closes #1411
  app/controllers/resources/booking.php
  app/views/resources/booking/index.php
Due: none

refine php-doc closes #1435
  lib/filesystem/FileManager.php
Due: test-unit, test-functional, test-jsonapi

show folder-size, closes #1402
  app/controllers/file.php
Due: none

admin/courses/index: use other URL for TN number when a course has sub-courses, fixes #1439
  app/views/admin/courses/_course.php
Due: none

don't show room-type-filter if no room types exists, closes #1423
  lib/classes/sidebar/RoomSearchWidget.class.php
  templates/sidebar/room-search-widget.php
Due: test-unit, test-functional, test-jsonapi

migration 1.254: delete all data from opengraphdata table before altering it, fixes #1445
  db/migrations/1.254_hash_opengraph_table.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Admins können Veranstaltungen keinen Hauptveranstaltungen zuweisen"
  app/controllers/course/grouping.php
Due: none

Resolve #1453 "Courseware: Fortschrittsanzeige bleibt immer bei 0%"
  app/controllers/course/courseware.php
Due: none

open course-wizard in dialog, closes #1455
  app/controllers/my_courses.php
Due: none

fix errors in resource management, fixes #1331
  app/controllers/resources/building.php
  app/controllers/resources/export.php
  app/views/resources/building/lock.php
  lib/models/resources/BrokenResource.class.php
  lib/models/resources/Resource.class.php
  lib/models/resources/ResourceLabel.class.php
Due: test-unit, test-functional, test-jsonapi

allow change values for roots, closes #1440
  app/views/resources/property/_add_edit_form.php
Due: none

remove obsolete code, refs #1121
  app/controllers/room_management/planning.php
  lib/classes/sidebar/ClipboardWidget.class.php
  templates/sidebar/clipboard-area.php
  templates/sidebar/clipboard-widget.php
  templates/sidebar/room-clipboard-item.php
  templates/sidebar/room-clipboard-widget.php
Due: test-unit, test-functional, test-jsonapi

prevent php-errors on public-booking-plans, refs #1339
  app/controllers/room_management/overview.php
  app/views/resources/_common/_grouped_room_list.php
  app/views/room_management/overview/public_booking_plans.php
Due: none

Show object count for folders, closes #1392
  db/migrations/5.3.1_add_show_folder_size_config.php
  lib/filesystem/FilesystemVueDataManager.php
  resources/vue/base-components.js
  resources/vue/components/FilesTable.vue
  resources/vue/components/StudipFolderSize.vue
Due: lint-js, test-unit, test-functional, test-jsonapi

remove useless sorting, closes #1425
  lib/resources/RoomManager.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve #1426 "Dateiverwaltung: Leere Dateinamen beim Herunterladen"
  lib/models/FileRef.php
Due: test-unit, test-functional, test-jsonapi

remove old code, closes #1422
  resources/assets/javascripts/bootstrap/resources.js
Due: lint-js

Resolve #1456 "Anmeldesets: Veranstaltungen konfigurieren für Dozenten nicht möglich"
  app/controllers/admission/courseset.php
Due: none

replace RoomClipboardWidget with SelectWidget, closes #236
  app/controllers/resources/room_group.php
  app/controllers/room_management/planning.php
  app/routes/RoomClipboard.php
  lib/classes/sidebar/ClipboardWidget.class.php
  resources/assets/javascripts/bootstrap/resources.js
  resources/assets/javascripts/lib/clipboard.js
  templates/sidebar/clipboard-area.php
  templates/sidebar/room-clipboard-item.php
Due: lint-js, test-unit, test-functional, test-jsonapi

Resolve "Icons: Neues Import-Icon und Umfeldarbeiten"
  clipboard.svg
  export.svg
  public/assets/images/icons/blue/clipboard.svg
  public/assets/images/icons/blue/export.svg
  public/assets/images/icons/blue/import.svg
  public/assets/images/icons/blue/share.svg
  share.svg
Due: none

change message, closes #1465
  app/views/course/studygroup/_members_options.php
Due: none

refs #1463
  templates/contact/legend.php
Due: none

move images to correct folder, refs #1386
  public/assets/images/icons/blue/clipboard.svg
  public/assets/images/icons/blue/export.svg
  public/assets/images/icons/blue/share.svg
Due: none

short titles, closes #1468
  app/controllers/my_courses.php
Due: none

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
