Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*

use SORM instead plain sql, closes #29
  app/controllers/admin/semester.php
  app/controllers/admission/courseset.php
  app/controllers/course/admission.php
  app/controllers/course/basicdata.php
  app/controllers/course/members.php
  app/controllers/course/statusgroups.php
  app/controllers/course/studygroup.php
  app/controllers/my_courses.php
  lib/admission.inc.php
  lib/classes/AutoInsert.class.php
  lib/classes/MembersModel.php
  lib/classes/Seminar.class.php
  lib/classes/UserManagement.class.php
  lib/functions.php
  lib/models/AdmissionApplication.class.php
  lib/models/CourseMember.class.php
  tests/functional/_bootstrap.php
Due: test-unit, test-functional, test-jsonapi

fixes #1904
  app/controllers/course/members.php
Due: none

resurrect .quiet color, fixes #1532
  resources/assets/stylesheets/studip.less
Due: lint-css

check perms, closes #1763
  lib/navigation/BrowseNavigation.php
  public/export.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Polishing für die neue HTML-Struktur und die responsive Ansicht" Teil 2
  lib/classes/ResponsiveHelper.php
  resources/assets/javascripts/bootstrap/responsive.js
  resources/assets/javascripts/lib/actionmenu.js
  resources/assets/stylesheets/scss/layouts.scss
  resources/assets/stylesheets/scss/responsive.scss
  resources/assets/stylesheets/scss/wiki.scss
  resources/vue/components/responsive/ResponsiveContentBar.vue
  resources/vue/components/responsive/ResponsiveNavigation.vue
  templates/header.php
  templates/responsive-navigation.php
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

CW: fix #1611 - wrong date because of null value (tasks)
  resources/vue/components/courseware/CoursewareDashboardStudents.vue
Due: lint-js

CW: GalleryBlock mouseover filename new feature
  lib/models/Courseware/BlockTypes/Gallery.json
  lib/models/Courseware/BlockTypes/Gallery.php
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareGalleryBlock.vue
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

Courseware: Umsortieren und Verschieben von Seiten im Inhaltsverzeichnis
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareRibbonToolbar.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTree.vue
  resources/vue/components/courseware/CoursewareTreeItem.vue
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, lint-css

TIC 1388, closes #1388
  app/controllers/settings/accessibility.php
  app/controllers/settings/general.php
  app/views/settings/accessibility.php
  db/migrations/5.3.13_remove_skiplinks_enable.php
  lib/classes/SkipLinks.php
  lib/include/html_head.inc.php
  resources/assets/stylesheets/scss/skiplinks.scss
  templates/header.php
  templates/layouts/base.php
Due: lint-css, test-unit, test-functional, test-jsonapi

don't insert skip_link_navigation twice, re #1388
  templates/header.php
  templates/layouts/base.php
Due: none

do not show overview in dialog, fixes #1895
  app/controllers/room_management/overview.php
Due: none

set min-height so that a wrapped navigation level 2 doesn't create problems, fixes #1909
  resources/assets/stylesheets/scss/layouts.scss
Due: lint-css

redirect on error, closes #1773
  app/controllers/resources/export.php
  app/views/resources/export/resource_bookings.php
  app/views/resources/resource/export_bookings.php
Due: none

Zitatformatierung: Auf kontrastreiche Darstellung anpassen
  resources/assets/stylesheets/scss/blockquote.scss
  resources/assets/stylesheets/scss/blubber.scss
  resources/assets/stylesheets/studip.scss
Due: lint-css

Courseware: Anordnen von Blöcken und Abschnitten vereinfachen
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareBlockadderItem.vue
  resources/vue/components/courseware/CoursewareContainerActions.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareListContainer.vue
  resources/vue/components/courseware/CoursewareRibbon.vue
  resources/vue/components/courseware/CoursewareRibbonToolbar.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTabs.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
  resources/vue/components/courseware/CoursewareToolsBlockadder.vue
  resources/vue/mixins/courseware/container.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, lint-css

fix php8 warnings, fixes #1911
  lib/classes/MyRealmModel.php
  lib/classes/ResponsiveHelper.php
  lib/classes/URLHelper.php
  templates/header.php
Due: test-unit, test-functional, test-jsonapi

StEP 1596, closes #1596
  app/controllers/accessibility/forms.php
  app/views/accessibility/forms/report_barrier.php
  db/migrations/5.3.15_add_accessibility_receiver_email_config.php
  lib/classes/forms/Form.php
  lib/classes/forms/Link.php
  lib/classes/forms/Part.php
  lib/classes/forms/Text.php
  lib/navigation/FooterNavigation.php
  locale/de/LC_MAILS/report_barrier.php
  locale/en/LC_MAILS/report_barrier.php
  templates/forms/form.php
Due: test-unit, test-functional, test-jsonapi

remove unnecessary imports, fixes #1912
  resources/assets/stylesheets/scss/header.scss
  resources/assets/stylesheets/scss/layouts.scss
  resources/assets/stylesheets/scss/variables.scss
  resources/assets/stylesheets/studip.scss
Due: lint-css

prevent content overflow, closes #1710
  app/views/contents/overview/index.php
  resources/assets/stylesheets/scss/contents.scss
Due: lint-css

added link back to the origin page in success message, fixes #1914
  app/controllers/accessibility/forms.php
Due: none

move cke-css to sass, closes #1139
  resources/assets/javascripts/chunks/wysiwyg.js
  resources/assets/stylesheets/scss/studip-cke-ui.scss
Due: lint-js, lint-css

rename search-column, closes #1464
  templates/sembrowse/extended-search.php
Due: none

fix background icon inclusion, fixes #1139
  resources/assets/stylesheets/scss/studip-cke-ui.scss
Due: lint-css

allow StudipCachedArray to expire completely and use that in RolePersistence, fixes #1580
  lib/classes/StudipCachedArray.php
  lib/plugins/db/RolePersistence.class.php
  tests/unit/lib/classes/StudipCachedArrayTest.php
Due: test-unit, test-functional, test-jsonapi

fix room-seearch filter, closes #1442
  resources/assets/javascripts/lib/resources.js
Due: lint-js

catch exception, closes #1565
  lib/classes/sidebar/RoomSearchWidget.class.php
Due: test-unit, test-functional, test-jsonapi

fix alignment, closes #682
  resources/assets/stylesheets/scss/forms.scss
Due: lint-css

add tooltip content as aria label, fixes #1916
  resources/assets/javascripts/bootstrap/tooltip.js
  resources/assets/javascripts/lib/tooltip.js
  templates/shared/tooltip.php
Due: lint-js

fix broken usage of sorm, closes #1579
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

fix ical-import, closes #680
  lib/calendar/CalendarParser.class.php
Due: test-unit, test-functional, test-jsonapi

Revert "add tooltip content as aria label, fixes #1916"
  resources/assets/javascripts/bootstrap/tooltip.js
  resources/assets/javascripts/lib/tooltip.js
  templates/shared/tooltip.php
Due: lint-js

refine roomgroupwidget, closes #1949
  resources/assets/stylesheets/scss/clipboard.scss
Due: lint-css

fix relocate after storing of cycle, fixes #1941
  app/controllers/course/timesrooms.php
Due: none

fix layout, closes #950
  app/views/course/timesrooms/_bookable_rooms_icon.php
  app/views/course/timesrooms/editStack.php
Due: none

Resolve "Polishing für die neue responsive Navigation"
  resources/assets/stylesheets/scss/content_box.scss
  resources/assets/stylesheets/scss/contentbar.scss
  resources/assets/stylesheets/scss/courseware.scss
  resources/assets/stylesheets/scss/forms.scss
  resources/assets/stylesheets/scss/header.scss
  resources/assets/stylesheets/scss/helpbar.scss
  resources/assets/stylesheets/scss/links.scss
  resources/assets/stylesheets/scss/raumzeit.scss
  resources/assets/stylesheets/scss/responsive.scss
  resources/assets/stylesheets/scss/skiplinks.scss
  resources/assets/stylesheets/scss/tabs.scss
  resources/assets/stylesheets/scss/variables.scss
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareRibbon.vue
  resources/vue/components/responsive/ResponsiveContentBar.vue
  resources/vue/components/responsive/ResponsiveNavigation.vue
  templates/contentbar/contentbar.php
  templates/tabs.php
Due: lint-js, lint-css

Update VERSION
  lib/bootstrap.php
Due: test-unit, test-functional, test-jsonapi

Update VERSION
  VERSION
Due: none

fixes #1961
  resources/assets/stylesheets/highcontrast.scss
Due: lint-css

Resolve "Fragebogen Validierung wird nicht ausgeführt"
  app/views/questionnaire/edit.php
  resources/assets/javascripts/lib/questionnaire.js
Due: lint-js
