Repository nod3zer0/Stud.IP-digital_campus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-css, test-unit, test-functional, test-jsonapi

lint-js:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

lint-css:
  stage: checks
  needs: []
  cache:
    key: js-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - .caches/eslint-cache
    - .caches/stylelint-cache
  allow_failure: false
  interruptible: true
  before_script:
  - make npm
  script:
  ...

test-unit:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - configure-studip
  script:
  - composer/bin/codecept run unit --xml
  - - .scripts
  ...

test-functional:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

test-jsonapi:
  stage: tests
  needs:
  - lint-php
  cache:
    key: php-$CI_COMMIT_REF_SLUG
    paths:
    - composer/
    - .caches/phplint-cache
    policy: pull
  services:
  - mariadb
  allow_failure: false
  interruptible: true
  before_script:
  - - .scripts
    - initialize-studip-database
  script:
  ...

Biest 1539
  resources/assets/javascripts/chunks/wysiwyg.js
  resources/assets/stylesheets/studip-cke-ui.css
Due: lint-js, lint-css

fix #1518
  lib/classes/ForumEntry.php
  lib/classes/Markup.class.php
  lib/models/Courseware/BlockTypes/Text.php
  resources/assets/stylesheets/scss/content.scss
Due: lint-css, test-unit, test-functional, test-jsonapi

fix #1122
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareDashboardStudents.vue
  resources/vue/components/courseware/CoursewareDashboardTasks.vue
  resources/vue/components/courseware/CoursewareManagerTaskDistributor.vue
Due: lint-js, lint-css

New Courseware Blocks: Biography and Timeline
  lib/models/Courseware/BlockTypes/BiographyAchievements.json
  lib/models/Courseware/BlockTypes/BiographyAchievements.php
  lib/models/Courseware/BlockTypes/BiographyCareer.json
  lib/models/Courseware/BlockTypes/BiographyCareer.php
  lib/models/Courseware/BlockTypes/BiographyGoals.json
  lib/models/Courseware/BlockTypes/BiographyGoals.php
  lib/models/Courseware/BlockTypes/BiographyPersonalInformation.json
  lib/models/Courseware/BlockTypes/BiographyPersonalInformation.php
  lib/models/Courseware/BlockTypes/BlockType.php
  lib/models/Courseware/BlockTypes/Timeline.json
  lib/models/Courseware/BlockTypes/Timeline.php
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareBiographyAchievementsBlock.vue
  resources/vue/components/courseware/CoursewareBiographyCareerBlock.vue
  resources/vue/components/courseware/CoursewareBiographyGoalsBlock.vue
  resources/vue/components/courseware/CoursewareBiographyPersonalInformationBlock.vue
  resources/vue/components/courseware/CoursewareTimelineBlock.vue
  resources/vue/components/courseware/CoursewareToolsBlockadder.vue
  resources/vue/components/courseware/block-mixin.js
  resources/vue/components/courseware/container-components.js
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

fix #887
  lib/classes/JsonApi/Routes/Courseware/BlocksShow.php
  lib/classes/JsonApi/Routes/Courseware/StructuralElementsShow.php
  resources/assets/stylesheets/scss/courseware.scss
  resources/vue/components/courseware/CoursewareAccordionContainer.vue
  resources/vue/components/courseware/CoursewareActionWidget.vue
  resources/vue/components/courseware/CoursewareAudioBlock.vue
  resources/vue/components/courseware/CoursewareBeforeAfterBlock.vue
  resources/vue/components/courseware/CoursewareBlockActions.vue
  resources/vue/components/courseware/CoursewareCanvasBlock.vue
  resources/vue/components/courseware/CoursewareChartBlock.vue
  resources/vue/components/courseware/CoursewareCodeBlock.vue
  resources/vue/components/courseware/CoursewareConfirmBlock.vue
  resources/vue/components/courseware/CoursewareContainerActions.vue
  resources/vue/components/courseware/CoursewareDateBlock.vue
  resources/vue/components/courseware/CoursewareDefaultBlock.vue
  resources/vue/components/courseware/CoursewareDefaultContainer.vue
  resources/vue/components/courseware/CoursewareDialogCardsBlock.vue
  resources/vue/components/courseware/CoursewareDocumentBlock.vue
  resources/vue/components/courseware/CoursewareDownloadBlock.vue
  resources/vue/components/courseware/CoursewareEmbedBlock.vue
  resources/vue/components/courseware/CoursewareFolderBlock.vue
  resources/vue/components/courseware/CoursewareGalleryBlock.vue
  resources/vue/components/courseware/CoursewareHeadlineBlock.vue
  resources/vue/components/courseware/CoursewareIframeBlock.vue
  resources/vue/components/courseware/CoursewareImageMapBlock.vue
  resources/vue/components/courseware/CoursewareKeyPointBlock.vue
  resources/vue/components/courseware/CoursewareLinkBlock.vue
  resources/vue/components/courseware/CoursewareStructuralElement.vue
  resources/vue/components/courseware/CoursewareTableOfContentsBlock.vue
  resources/vue/components/courseware/CoursewareTabsContainer.vue
  resources/vue/components/courseware/CoursewareTextBlock.vue
  resources/vue/components/courseware/CoursewareTypewriterBlock.vue
  resources/vue/components/courseware/CoursewareVideoBlock.vue
  resources/vue/components/courseware/block-mixin.js
  resources/vue/store/courseware/courseware.module.js
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

rename scss-function, closes #1603
  resources/assets/stylesheets/highcontrast.scss
  resources/assets/stylesheets/mixins/colors.scss
  resources/assets/stylesheets/mixins/misc.scss
Due: lint-css

fix contrast in dialogs, closes #1562
  resources/assets/stylesheets/mixins/colors.scss
  resources/assets/stylesheets/mixins/misc.scss
  resources/assets/stylesheets/scss/dialog.scss
Due: lint-css

made dialogs after file upload show in default size, re #1390
  resources/assets/javascripts/bootstrap/files.js
Due: lint-js

update text on password change, fixes #1590
  lib/classes/UserManagement.class.php
Due: test-unit, test-functional, test-jsonapi

disable gallery action when no images are visible, fixes #620
  resources/assets/javascripts/bootstrap/files.js
  resources/assets/javascripts/lib/files.js
  resources/assets/stylesheets/scss/sidebar.scss
Due: lint-js, lint-css

update consultation events when course or institute members change, fixes #675
  lib/modules/ConsultationModule.class.php
Due: test-unit, test-functional, test-jsonapi

fix deprecation from 48960208, re #1016
  app/controllers/studip_controller.php
Due: test-unit, test-functional, test-jsonapi

fix and restructure MyCoursesSearch, fixes #1606
  app/controllers/course/members.php
  lib/classes/searchtypes/MyCoursesSearch.class.php
Due: test-unit, test-functional, test-jsonapi

Biest #1172
  lib/classes/globalsearch/GlobalSearchCourseware.php
Due: test-unit, test-functional, test-jsonapi

always run all checks on pipeline, re #1612
  .gitlab-ci.yml
Due: none

fix for BIESt #1104
  app/controllers/search/courses.php
  app/controllers/search/module.php
  app/controllers/search/studiengaenge.php
  app/views/search/globalsearch/index.php
  app/views/search/stgtable/index.php
  app/views/search/studiengaenge/verlauf.php
  lib/classes/BreadCrumb.class.php
  lib/classes/DbSnapshot.class.php
  lib/classes/QuickSearch.class.php
  lib/classes/SemBrowse.class.php
  lib/classes/StudipForm.class.php
  lib/classes/StudipSemRangeTreeViewSimple.class.php
  lib/classes/StudipSemSearch.class.php
  lib/classes/StudipSemSearchHelper.class.php
  lib/classes/StudipSemTree.class.php
  lib/classes/StudipSemTreeViewSimple.class.php
  lib/classes/TreeAbstract.class.php
  lib/classes/globalsearch/GlobalSearchCourses.php
  lib/classes/globalsearch/GlobalSearchForum.php
  lib/classes/globalsearch/GlobalSearchModule.php
  lib/classes/globalsearch/GlobalSearchMyCourses.php
  lib/classes/globalsearch/GlobalSearchUsers.php
  lib/classes/searchtypes/SearchType.class.php
  lib/classes/sidebar/ClipboardWidget.class.php
  lib/classes/sidebar/ResourceTreeWidget.class.php
  lib/classes/sidebar/RoomSearchWidget.class.php
  lib/models/Modulteil.php
  lib/models/SimpleCollection.class.php
  lib/models/resources/Location.class.php
  lib/raumzeit/SingleDate.class.php
  templates/sidebar/room-clipboard-item.php
  templates/sidebar/room-search-widget.php
  vendor/write_excel/OLEwriter.php
  vendor/write_excel/Parser.php
Due: test-unit, test-functional, test-jsonapi

fix for BIESt #1110
  app/controllers/resources/admin.php
  app/controllers/resources/category.php
  app/controllers/resources/export.php
  app/controllers/resources/messages.php
  app/controllers/resources/print.php
  app/controllers/resources/property.php
  app/controllers/resources/resource.php
  app/controllers/resources/room.php
  app/controllers/resources/room_planning.php
  app/controllers/resources/room_request.php
  app/controllers/room_management/planning.php
  app/views/resources/_common/_grouped_room_list.php
  app/views/resources/_common/_permission_table.php
  app/views/resources/_common/_request_tr.php
  app/views/resources/_common/_resource_tr.php
  app/views/resources/_common/_room_tr.php
  app/views/resources/admin/property_groups.php
  app/views/resources/resource/_standard_properties_form_part.php
  app/views/resources/resource/permissions.php
  app/views/resources/room/_add_edit_form.php
  app/views/resources/room/select_category.php
  app/views/resources/room_planning/semester_plan.php
  lib/classes/restapi/RouteMap.php
  lib/classes/restapi/Router.php
  lib/models/SimpleORMap.class.php
  lib/models/resources/Resource.class.php
  lib/models/resources/ResourceCategory.class.php
  lib/resources/RoomManager.class.php
Due: test-unit, test-functional, test-jsonapi

test assets creation as part of the pipeline, re #606
  .gitlab-ci.yml
Due: none

align owner and editor definition, fixes #1614
  resources/vue/components/courseware/CoursewareStructuralElement.vue
Due: lint-js

fix links after creating a course, fixes #1595
  app/controllers/course/wizard.php
Due: none

fix typo, fixes #1618
  resources/vue/components/courseware/CoursewareTabsContainer.vue
Due: lint-js

only show an error message when a room request for a regular date cannot be resolved at all, re #240
  app/controllers/resources/room_request.php
Due: none

RoomManager::findRooms: find rooms that are available in at least one time range, re #239
  lib/resources/RoomManager.class.php
Due: test-unit, test-functional, test-jsonapi

fixed default_subject in course/members/circular_mail action, re #1622
  app/controllers/course/members.php
  app/views/course/members/circular_mail.php
Due: none

replace course-filter in course-management and add order function, closes #1583
  app/controllers/course/admission.php
  app/controllers/course/basicdata.php
  app/controllers/course/management.php
  app/controllers/course/room_requests.php
  app/controllers/course/study_areas.php
  app/controllers/course/timesrooms.php
  app/views/course/shared/order_settings.php
  db/migrations/5.3.3_tic_1583_course_selector.php
  lib/classes/AdminCourseFilter.class.php
  lib/classes/sidebar/CourseManagementSelectWidget.php
  lib/classes/sidebar/SelectWidget.php
  lib/classes/sidebar/SidebarWidget.php
  resources/assets/javascripts/bootstrap/forms.js
  resources/assets/stylesheets/scss/i18n.scss
  templates/sidebar/select-widget.php
Due: lint-js, lint-css, test-unit, test-functional, test-jsonapi

fix #1620
  resources/vue/components/courseware/CoursewareListContainer.vue
Due: lint-js

use system user for notifications when deleting room bookings via the cli, closes #1623
  lib/models/Message.class.php
Due: test-unit, test-functional, test-jsonapi

Revert "transfer CourseHistory plugin into main, fixes #1497"
  app/controllers/course/history.php
  app/views/course/history/index.php
  lib/modules/CoreOverview.class.php
Due: test-unit, test-functional, test-jsonapi

correctly encode output, fixes #1619
  lib/models/LogEvent.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Fehler in Sprechstunden beim Zusammenführen von Accounts"
  lib/models/User.class.php
Due: test-unit, test-functional, test-jsonapi

Resolve "Ankündigungen: Layout-Fehler bei den Dropdowns im Dialog"
  resources/assets/stylesheets/scss/quicksearch.scss
Due: lint-css

Resolve "Ankündigung anlegen/bearbeiten: „In weiteren Bereichen anzeigen“: Die Namen von Fakultäten werden nicht angezeigt"
  lib/models/NewsRange.class.php
Due: test-unit, test-functional, test-jsonapi

correct path to Stud.IP logo, fixes #1633
  resources/assets/stylesheets/scss/header.scss
Due: lint-css

update BIEST template to Version::5.3 label
  .gitlab/issue_templates/BIEST.md
Due: none

type, closes #1638
  app/controllers/course/basicdata.php
Due: none

Resolve "Dateien mit großgeschriebener Dateiendung können nicht hochgeladen werden"
  resources/assets/javascripts/lib/files.js
Due: lint-js

ignore extermine for icon on my courses, fixes #1643
  lib/modules/CoreSchedule.class.php
Due: test-unit, test-functional, test-jsonapi

room_management/planning/booking_comments: select the first clipboard if no clipboard has been selected before, fixes #1624
  app/controllers/room_management/planning.php
Due: none

Path conditions:
  lint-js: any of: resources/assets/javascripts/**/*, resources/vue/**/*
  lint-css: any of: resources/assets/stylesheets/**/*
  test-unit: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-functional: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
  test-jsonapi: any of: composer.json, app/controllers/**/*controller.php, db/**/*, lib/**/*, tests/**/*, vendor/**/*
